@charset "UTF-8";
/*hcau-common*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
/* font setting */
@font-face {
  font-family: "HYRegular";
  src: url("../fonts/Youandi_Modern_TextRegular.eot");
  src: local("※"), url("../fonts/Youandi_Modern_TextRegular.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HYBold";
  src: url("../fonts/Youandi_Modern_TextBold.eot");
  src: local("※"), url("../fonts/Youandi_Modern_TextBold.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HYExtraBold";
  src: url("../fonts/Youandi_Modern_HeadExtraBold.eot");
  src: local("※"), url("../fonts/Youandi_Modern_HeadExtraBold.woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

/* will-change */
.content, .hero, .main-header, .gallery > * {
  will-change: transform;
}

html {
  position: relative;
}

html, body {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.25;
  font-size: 0.96825rem;
}

body {
  font-family: "HYRegular";
  color: #000000;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

body, div, section, dl, ul, ol, li, dt, dd, blockquote, p, span {
  font-family: "HYRegular", AppleGothicNeoSD, "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Malgun Gothic", Dotum, "돋움", "굴림", arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

pre, xmp, plaintext, listing, samp, kbd, code, figure, figcaption {
  margin: 0;
}

iframe {
  border: none;
}

iframe[src*="insight.adsrvr.org/tags"] {
  display: none;
}

img {
  vertical-align: top;
}

strong, b {
  font-weight: 700;
}

pre {
  white-space: pre-wrap;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

table {
  width: 100%;
}

caption {
  left: -10000px;
  top: auto;
  height: 0;
  overflow: hidden;
}

button:focus, a:focus, a:active, button::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, select::-moz-focus-inner, input[type=file] > input[type=button]::-moz-focus-inner {
  outline: none;
  box-shadow: 0 0 3px 0px none;
  position: relative;
}

select:-moz-focusring {
  color: rgba(0, 0, 0, 0);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.sub-tlt {
  font-size: 4.1666666667vw;
  color: #000;
  font-family: "HYExtraBold";
  padding-top: 6.25vw;
}/*# sourceMappingURL=HCAU-common.css.map */