
<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,  user-scalable=no">
<title>Color :: PC 퍼블리싱 가이드</title>
<script type="text/javascript" src="/docfiles/publish/resources/pc/js/libs/jquery-1.12.4.min.js"></script>
<script src="/docfiles/publish/resources/pc/html/guide/js/ia.js"></script>
<script type="text/javascript" src="/docfiles/publish/resources/pc/js/libs/jquery-ui.js"></script>
<script type="text/javascript" src="/docfiles/publish/resources/pc/js/libs/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/docfiles/publish/resources/pc/js/libs/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/docfiles/publish/resources/pc/js/commonUi.js"></script>

<!-- 프론트 화면 -->
<link rel="stylesheet" type="text/css" href="/docfiles/publish/resources/pc/css/reset.css">
<link rel="stylesheet" type="text/css" href="/docfiles/publish/resources/pc/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" type="text/css" href="/docfiles/publish/resources/pc/css/common.css">
<link rel="stylesheet" type="text/css" href="/docfiles/publish/resources/pc/css/layout.css">
<link rel="stylesheet" type="text/css" href="/docfiles/publish/resources/pc/html/guide/css/common_guide.css">
</head>

<body>

<header>
</header><!-- header -->
<div id="ia-wrap">
	<div id="ia-container">
		<div id="ia-content">
			<div class="ia-content-header">
				<div class="ia-in-sec">
					<h1 class="ia-h1">PC 퍼블리싱 가이드</h1>
					<div class="ia-guideLink">
						
						<button type="button" onclick="window.open('/docfiles/publish/resources/pc/html/guide/list/common_list.html')">화면리스트</button>
					</div>
				</div>
			</div><!-- // ia-content-header -->
			
			<div class="ia-content-body">
				<div class="tab">
					
				</div><!-- // guide_tab -->
				
				<div class="txt_caution">
					<h3 class="h0_eb_lt_size48">Color</h3>
				</div>
				<!-- s: 공통 -->
				<section class="ia-section">
                    <div class="hds_box">							
                        <h4 class="h2_eb_lt">Font Color</h4>
						<p class="txt01">Primary B&amp;W / 기본 흰색, 검정색 정의</p>
						<p class="txt01">클래스 명 : fc_m_blk, fc_s_wht</p>
						<div class="hds_box_in">		
							<div class="box_btn">
								<a href="javascript:;" class="fc_m_blk"><span>fc_m_blk</span></a>
								<a href="javascript:;" class="sd_m_blk fc_m_wht"><span>fc_m_wht</span></a>
							</div>
						</div><!-- e: hds_box_in -->
					</div><!-- e: hds_box -->
					
					<div class="hds_box">							
						<p class="txt01">기본 #000000검은색 기준 투명도 정의에 해당하는 알파값 컬러 정의</p>
						<p class="txt01">클래스 명 :  fc_m_80, fc_m_64, fc_m_48, fc_m_40, fc_m_20, fc_m_16, fc_m_12, fc_m_08, fc_m_04, fc_m_02</p>
						<div class="hds_box_in">		
							<div class="box_btn">
								<span class="fc_m_80">fc_m_80</span>
								<span class="fc_m_64">fc_m_64</span>
								<span class="fc_m_48">fc_m_48</span>
								<span class="fc_m_40">fc_m_40</span>
								<span class="fc_m_20">fc_m_20</span>
								<span class="fc_m_16">fc_m_16</span>
								<span class="fc_m_12">fc_m_12</span>
								<span class="fc_m_08">fc_m_08</span>
								<span class="fc_m_04">fc_m_04</span>
								<span class="fc_m_02">fc_m_02</span>
								<span class="fc_b7c7c7c">fc_b7c7c7c</span>
							</div>
						</div><!-- e: hds_box_in -->
					</div><!-- e: hds_box -->
		
					<div class="hds_box">							
						<p class="h4_tb_lt">HDS 웹 폰트 색상</p>
						<p class="txt01">클래스 명 :  fc_m_alert, fc_m_link, fc_m_green, fc_m_emerald</p>
						<div class="hds_box_in">		
							<div class="box_btn">
								<a href="javascript:;" class="fc_m_alert"><span>fc_m_alert</span></a>
								<a href="javascript:;" class="fc_m_link"><span>fc_m_link</span></a>
								<a href="javascript:;" class="fc_m_green"><span>fc_m_green</span></a>
								<a href="javascript:;" class="fc_m_emerald"><span>fc_m_emerald</span></a>
							</div>
						</div><!-- e: hds_box_in -->
					</div><!-- e: hds_box -->

                    <div class="hds_box">							
                        <h4 class="h2_eb_lt">Background Color</h4>
						<p class="txt01">Primary B&amp;W / 기본 흰색, 검정색 정의</p>
						<p class="txt01">클래스 명 : sd_m_blk, sd_s_wht</p>
						<div class="hds_box_in">		
							<div class="box_btn">
								<a href="javascript:;" class="btn64_boldtxt_whitetxt sd_m_blk"><span>sd_m_blk</span></a>
								<a href="javascript:;" class="btn64_regulartxt_blacktxt sd_m_wht"><span>sd_m_wht</span></a>
							</div>
						</div><!-- e: hds_box_in -->
					</div><!-- e: hds_box -->
					
					<div class="hds_box">
						<p class="txt01">Secondary / Solid Grey 기본 #000000검은색 기준 투명도 정의에 해당하는 솔리드 컬러 정의</p>
						<p class="txt01">클래스 명 :  sd_m_80, sd_m_64, sd_m_48, sd_m_40, sd_m_20, sd_m_16, sd_m_12, sd_m_08, sd_m_04, sd_m_02</p>
						<div class="hds_box_in">
							<div class="box_btn">
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_m_80"><span class="fc_blk">sd_m_80</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_m_64"><span class="fc_blk">sd_m_64</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_m_48"><span class="fc_blk">sd_m_48</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_m_40"><span class="fc_blk">sd_m_40</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_m_20"><span class="fc_blk">sd_m_20</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_m_16"><span class="fc_blk">sd_m_16</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_m_12"><span class="fc_blk">sd_m_12</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_m_08"><span class="fc_blk">sd_m_08</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_m_04"><span class="fc_blk">sd_m_04</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_m_02"><span class="fc_blk">sd_m_02</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_b7c7c7c"><span class="fc_blk">sd_b7c7c7c</span></a>
							</div>
						</div><!-- e: hds_box_in -->
					</div><!-- e: hds_box -->
					
					<div class="hds_box">
						<p class="txt01">HDS웹 기본서비스 컬러파레트</p>
						<p class="txt01">클래스 명 : sd_finance_emerald, sd_finance_emerald on, sd_finance_emerald off, sd_finance_emerald on off, sd_finance_yellow, sd_hcoin_orange, sd_auto_blue, sd_auto_blue on,
							 sd_auto_blue off, sd_auto_blue on off, sd_frdsp_gold, sd_frdsp_star, sd_corp_navy, sd_corp_koreaair, sd_corp_csotco_m sd_corp_csotco_spt</p>
						<div class="hds_box_in">	
							<p class="txt01">Corporate</p>	
							<div class="box_btn">
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_finance_emerald"><span>sd_finance_emerald</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_finance_emerald on"><span>sd_finance_emerald on</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_finance_emerald off"><span>sd_finance_emerald off</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_finance_emerald on off"><span>sd_finance_emerald on off</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_finance_yellow"><span>sd_finance_yellow</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_hcoin_orange"><span>sd_hcoin_orange</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_auto_blue"><span>sd_auto_blue</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_auto_blue on"><span>sd_auto_blue on</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_auto_blue off"><span>sd_auto_blue off</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_auto_blue on off"><span>sd_auto_blue on off</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_frdsp_gold"><span>sd_frdsp_gold</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_frdsp_star"><span>sd_frdsp_star</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_corp_navy"><span>sd_corp_navy</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_corp_koreaair"><span>sd_corp_koreaair</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_corp_csotco_m"><span>sd_corp_csotco_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_corp_csotco_spt"><span>sd_corp_csotco_spt</span></a>
							</div>
						</div><!-- e: hds_box_in -->
					</div><!-- e: hds_box -->
					
					<div class="hds_box">
						<p class="txt01">HDS웹 기본서비스 컬러파레트 : Unique</p>
						<p class="txt01">클래스 명 : sd_myaccount_bg</p>
						<div class="hds_box_in">		
							<div class="box_btn">
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_myaccount_bg"><span>sd_myaccount_bg</span></a>
							</div>
						</div><!-- e: hds_box_in -->
					</div><!-- e: hds_box -->
					
					<div class="hds_box">
						<p class="txt01">HDS웹 기본서비스 컬러파레트 : Function</p>
						<p class="txt01">클래스 명 :  sd_alert, sd_error, sd_link, sd_lightblue</p>
						<div class="hds_box_in">		
							<div class="box_btn">
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_alert"><span>sd_alert</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_error"><span>sd_error</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_link"><span>sd_link</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_lightblue"><span>sd_lightblue</span></a>
							</div>
						</div><!-- e: hds_box_in -->
					</div><!-- e: hds_box -->
					
					<div class="hds_box">
						<p class="txt01">HDS웹 기본서비스 컬러파레트 : Function</p>
						<p class="txt01">클래스 명 :  sd_grdblue, sd_grdred</p>
						<div class="hds_box_in">		
							<div class="box_btn">
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_grdblue"><span>sd_grdblue</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_grdred"><span>sd_grdred</span></a>
							</div>
						</div><!-- e: hds_box_in -->
					</div><!-- e: hds_box -->
					
					<div class="hds_box">
						<p class="txt01">Card Plate Theme Color<br>
								카드서비스의 컬러를 정의합니다. 각 서비스는 메인컬러(m)와 서포팅컬러(spt)로 나뉘며 Primary로 대체되는 컬러의 경우 Primary정의를 따릅니다.</p>
						<p class="txt01">클래스 명 :  sd_plt_black_m, sd_plt_black_spt, sd_plt_purple_m, sd_plt_purple_spt, sd_plt_red_m, sd_plt_red_spt, sd_plt_green_m, sd_plt_green_spt, sd_plt_m3_m, sd_plt_m3_spt, sd_plt_m2_m, sd_plt_m2_spt, sd_plt_m_m, sd_plt_m_spt, sd_plt_x3_m, sd_plt_x3_spt, sd_plt_x2_m, sd_plt_x2_spt, sd_plt_x_m, sd_plt_x_spt, sd_plt_x_m on, sd_plt_x_m off, sd_plt_x_m on off, sd_plt_t3_m, sd_plt_t3_spt, sd_plt_xero_m, sd_plt_xero_spt"><span>Btn</span></a></p>
						<div class="hds_box_in">		
							<div class="box_btn">
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_black_m"><span>sd_plt_black_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_black_spt"><span>sd_plt_black_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_purple_m"><span>sd_plt_purple_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_purple_spt"><span>sd_plt_purple_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_red_m"><span>sd_plt_red_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_red_spt"><span>sd_plt_red_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_green_m"><span>sd_plt_green_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_green_spt"><span>sd_plt_green_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_m3_m"><span>sd_plt_m3_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_m3_spt"><span>sd_plt_m3_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_m2_m"><span>sd_plt_m2_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_m2_spt"><span>sd_plt_m2_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_m_m"><span>sd_plt_m_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_m_spt"><span>sd_plt_m_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_x3_m"><span>sd_plt_x3_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_x3_spt"><span>sd_plt_x3_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_x2_m"><span>sd_plt_x2_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_x2_spt"><span>sd_plt_x2_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_x_m"><span>sd_plt_x_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_x_spt"><span>sd_plt_x_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_x_m on"><span>sd_plt_x_m on</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_x_m off"><span>sd_plt_x_m off</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_x_m on off"><span>sd_plt_x_m on off</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_t3_m"><span>sd_plt_t3_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_t3_spt"><span>sd_plt_t3_spt</span></a>
								<a href="javascript:;" class="btn64_regulartxt_blacktxt sd_plt_xero_m"><span>sd_plt_xero_m</span></a>
								<a href="javascript:;" class="btn64_regulartxt_whitetxt sd_plt_xero_spt"><span>sd_plt_xero_spt</span></a>
							</div>
						</div><!-- e: hds_box_in -->
					</div><!-- e: hds_box -->
				
				</section><!-- // ia-content-body -->				
				<!-- e: 공통 -->
			</div><!-- // ia-content-body -->
			
		</div><!-- // ia-content -->
		
	</div><!-- // ia-container -->
</div><!-- // ia-wrap -->
<footer>
</footer><!-- // footer -->

</body>
</html>