

@font-face {
  font-display: swap;
  font-family: "HyundaiTextOffice";
  src:
    url("/static/html/pc/hyundai/font/HyundaiSansTextOffice-Regular.ttf") format("truetype"),
    url("/static/html/pc/hyundai/font/HyundaiSansTextOffice-Regular.woff") format("woff"),
    url("/static/html/pc/hyundai/font/HyundaiSansTextOffice-Regular.woff2") format("font-woff2");

  font-weight: 400;
  font-style: normal;
}

/*textoffice500 삭제*/
@font-face {
  font-family: "HyundaiTextOffice";
  src:
    url("/static/html/pc/hyundai/font/HyundaiSansTextOffice-Bold.ttf") format("truetype"),
    url("/static/html/pc/hyundai/font/HyundaiSansTextOffice-Bold.woff") format("woff"),
    url("/static/html/pc/hyundai/font/HyundaiSansTextOffice-Bold.woff2") format("font-woff2");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "HyundaiHeadOffice";
  src:
    url("/static/html/pc/hyundai/font/HyundaiSansHead-Regular.ttf") format("truetype"),
    url("/static/html/pc/hyundai/font/HyundaiSansHead-Regular.woff") format("woff"),
    url("/static/html/pc/hyundai/font/HyundaiSansHead-Regular.woff2") format("font-woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "HyundaiHeadOffice";
  src:
    url("/static/html/pc/hyundai/font/HyundaiSansHeadOffice-Bold.ttf") format("truetype"),
    url("/static/html/pc/hyundai/font/HyundaiSansHead-Bold.woff") format("woff"),
    url("/static/html/pc/hyundai/font/HyundaiSansHeadOffice-Bold.woff2") format("font-woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  position: relative;
  /* overflow-y: scroll; */
}
html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.25;
}
body {
  font-family: "HyundaiTextOffice",
    "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo",
    "굴림", arial, sans-serif;
  color: #000;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}
body,
div,
section,
dl,
ul,
ol,
li,
dt,
dd,
blockquote,
p,span
 {
  font-family: "HyundaiTextOffice",
  "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo",
  "굴림", arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
.HCAU-h1,
.HCAU-h2 {
  line-height: 1;
  margin: 0;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  list-style: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
pre,
xmp,
plaintext,
listing,
samp,
kbd,
code,
figure,
figcaption {
  margin: 0;
}
iframe {
  border: none;
}
iframe[src*="insight.adsrvr.org/tags"] {
  display: none;
}
img {
  vertical-align: top;
}
strong,
b {
  font-family: "HyundaiHeadOffice";
  font-weight: 700;
}
pre {
  white-space: pre-wrap;
}
::-webkit-input-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
table {
  width: 100%;
}
caption {
  left: -10000px;
  top: auto;
  height: 0;
  overflow: hidden;
}
button:focus,
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: blue;
  box-shadow: 0 0 3px 0px blue;
  position: relative;
}
select:-moz-focusring {
  color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 3px 0 blue;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: rgba(0, 0, 0, 0);
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.icon-list {
  padding-left: 0;
  list-style: none;
}
.icon-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}
.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E")
    no-repeat center center/100% auto;
}
body {
  overflow-y: overlay; /* 반드시 overlay 처리 */
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.25);
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.5);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}