body.main {
  width: 100%;
  background-image: url(/static/html/m/genesis/img/bg.png);
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-size: contain;
  background-color: #000;
}
@media (min-width:580px){
  body.main {background-size:cover}
}

body.main > .wrap{background: none;}
body.main .HCAU-container{
  background: none;
  padding-top: 48px;
}
body.main .HCAU-container .HCAU-contents .HCAU-h1 {
  padding: 40px 20px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
body.main .HCAU-container .HCAU-contents .menu-btns{
  flex: 1 1 auto;
}
body.main button.box {
  position: relative;
  background: rgba(162, 162, 162, 0.15);
  /* border-radius: 8px; */
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  padding: 24px 28px 22px;
  width:100%;
  font-family: 'GenesisHeadOffice';
  font-weight: 400;
}
body.main button.box span {
  position: absolute;
  right: 28px;
  top: 28px;
}
/*
body.main button.box.btn01 {    background: rgba(0, 0, 0, 0.2);  }
body.main button.box.btn02 {    background: rgba(0, 44, 95, 0.2);  }
body.main button.box.btn03 {    background: rgba(0, 170, 210, 0.2);  }
body.main button.box.btn04 {    background: rgba(228, 220, 211, 0.2);  }
*/
body.main .btn-cta-wrap {background-color:transparent;bottom:-260px;}
body.main .btn-cta-wrap.main{bottom:-50px;margin-top:20px}
body.main .btn-cta-wrap .go-chatbot{display: block;width: 52px;height: 52px;border-radius:100%;position: absolute;right: 20px;top: -26px;padding: 0;box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.10);}
body.main .btn-cta-wrap .tip{width:100%;background:white;border-radius: 20px 20px 0 0 ;padding:40px 0 12px;}
body.main .btn-cta-wrap .tip > span{position:absolute;top:20px;width:80px;left:50%;transform:translateX(-50%)}
body.main .btn-cta-wrap .promo{background:white;padding:20px 0;margin: 0 28px;}
body.main .btn-cta-wrap .promo > div{padding-left: 0;padding-right: 0;}
body.main .btn-cta-wrap .promo.border-top{border-color: #E5E5E5;}

body.main .promo .HCAU-h2{font-size:18px;text-transform: uppercase;margin-bottom:12px;}

body.main .carousel-indicators{margin-left:auto;margin-right:auto;justify-content: flex-end;margin-top:-24px;top:0;bottom:auto;height:6px}
body.main .carousel-indicators button{background: #A2A2A2;width:4px;height:4px;border-radius: 4px;border:0}
body.main .carousel-indicators button.active{background: #000;}

body.main  .faq {padding-bottom:60px}
body.main  .faq .title{color:#fff;padding-left:20px;padding-top:40px;font-size:18px}
body.main  .faq-inner {padding:0 20px}
body.main  .faq-inner ul li{background:rgba(255,255,255,.1);padding:6px 8px;border-radius: 8px;margin-bottom:4px;position: relative;}
body.main  .faq-inner ul li dl{display:flex;justify-content:flex-start}
body.main  .faq-inner ul li dl dt,.faq-inner ul li dl dd{display:flex}
body.main  .faq-inner ul li dl dt{font-size:12px;padding:5px 12px;border-radius: 4px;background:rgba(0,0,0,.2);color:#fff;min-width: 75px;height:25px;justify-content: center;}
body.main  .faq-inner ul li dl dd{font-size:14px;color:#fff;padding-left:12px}

body.main .usage-detail{padding:0 20px 20px}
body.main .usage-detail .HCAU-h2.title{color:#fff;font-size:18px;font-weight: 400;font-family: 'GenesisHeadOffice';}
body.main .usage-detail .carousel-box{margin-top:20px;position: relative;background: rgba(162, 162, 162, 0.15);}
body.main .usage-detail .carousel-box .carousel{}
body.main .usage-detail .carousel-box .carousel-inner{}
body.main .usage-detail .carousel-box .carousel-item{position:relative;padding: 36px 28px 28px}
body.main .usage-detail .carousel-box .carousel-item .HCAU-badge{
  position: absolute;
  left: 28px;
  top: 0;
  border-radius: 0;
}
body.main .usage-detail .carousel-box .carousel-item .HCAU-badge.flag01{
  background: #CE2D2D;
  color: #fff;
}
body.main .usage-detail .carousel-box .carousel-item .HCAU-badge.flag02{
  background: #AF6249;
  color: #fff;
}
body.main .usage-detail .carousel-box .carousel-item .HCAU-badge.flag03{
  background: #666666;
  color: #fff;
}
body.main .usage-detail .carousel-box .carousel-item .title{border-bottom: 1px solid #666;padding-bottom: 12px;text-align: center;}
body.main .usage-detail .carousel-box .carousel-item .title a{font-size: 18px;font-weight: 700;color: #fff;}
body.main .usage-detail .carousel-box .carousel-item .details{margin-top: 20px;}
body.main .usage-detail .carousel-box .carousel-item .details dl{display: flex;}
body.main .usage-detail .carousel-box .carousel-item .details dl + dl{margin-top: 12px;}
body.main .usage-detail .carousel-box .carousel-item .details dl dt{color: #fff;flex: 0 0 100px;position: relative;}
body.main .usage-detail .carousel-box .carousel-item .details dl dt:after{content:'';display: inline-block;width: 1px;height: 14px;background: #666;position: absolute;right: 0;top: 2px;}
body.main .usage-detail .carousel-box .carousel-item .details dl dd{color: #fff;flex: 1 1 auto;text-align: right;}
body.main .usage-detail .carousel-box .carousel-control-next,
body.main .usage-detail .carousel-box .carousel-control-prev{display: block;width: auto;}
body.main .usage-detail .nodata{
  background: rgba(162, 162, 162, 0.15);
  margin-top: 20px;
  color: #fff;
  height: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

body.main .btn-wrap .HCAU-btn{
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: #1A1A1A;
  color: #fff;
  font-size: 15px;
  border-radius: 0;
}

.carousel-control-next-icon,.carousel-control-prev-icon{background: none;}
.carousel-control-prev:disabled, .carousel-control-next:disabled{display:none}
.carousel-control-next-icon,
.carousel-control-prev-icon{
  width:24px;height:24px;border-radius:100%;background-image:none;opacity:1;
  transition: all .15s ease;display:flex;justify-content: center;align-items: center;
}
.carousel-control-next-icon svg g,
.carousel-control-next-icon:focus svg g,
.carousel-control-next-icon:hover svg g,
.carousel-control-prev-icon:focus svg g,
.carousel-control-prev-icon:hover svg g{opacity: 1;}
.carousel-control-prev{left:-12px;opacity:1;}
.carousel-control-next{right:-12px;opacity:1;}


div:has(.carousel-item:first-child.active) + button,
div:has(.carousel-item:last-child.active) + button + button,
.disabled{display:none !important}

.main-faqs{padding: 12px 28px 32px;}
.main-faqs dt{margin-bottom: 4px;}
.main-faqs dt span{font-size: 18px;font-family: 'GenesisHeadOffice';  }
.main-faqs dd{padding: 16px 0;}
.main-faqs dd + dd{border-top: 1px solid #E5E5E5;}
.main-faqs dd a{font-size: 15px;line-height: 1.1;}
.main-faqs .HCAU-badge{border-radius: 4px;background:#A2A2A2;color: #fff;font-size: 12px;padding: 5px 12px;}

body header.scroll{    background: rgba(255,255,255,.1);
  backdrop-filter: blur(6px) saturate(150%);
}
