body.main {
    width: 100%;
    background: url(/static/html/m/genesis/img/bg.png) no-repeat;
    background-size: auto;
  }
  @media (min-width:376px){body.main {background-size:cover}}
  body.main header {
    background: transparent;
  }
  body.main .HCAU-container .HCAU-contents .HCAU-h1 {
    padding: 40px 20px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  
  body.main button.box {
    position: relative;
    background: rgba(28, 27, 27, 0.2);
    border-radius: 8px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    padding: 24px 28px 22px;
    width:100%;
  }
  body.main button.box span {
    position: absolute;
    right: 28px;    
    top: 25px;
  }
  body.main button.box.btn01 {    background: rgba(0, 0, 0, 0.2);  }
  body.main button.box.btn02 {    background: rgba(0, 44, 95, 0.2);  }
  body.main button.box.btn03 {    background: rgba(0, 170, 210, 0.2);  }
  body.main button.box.btn04 {    background: rgba(228, 220, 211, 0.2);  }
  body.main .btn-cta-wrap {background-color:transparent;bottom:-260px;}
  /* .d-flex.full.g12.pt20{gap:12px} */
  body.main .btn-cta-wrap .tip{width:100%;background:white;border-radius: 20px 20px 0 0 ;padding-top:40px}
  body.main .btn-cta-wrap .tip span{position:absolute;top:20px;width:80px;left:50%;transform:translateX(-50%)}
  body.main .btn-cta-wrap .promo{background:white;padding:20px}
  body.main .promo .HCAU-h2{font-size:18px;text-transform: uppercase;margin-bottom:12px;}
  body.main .carousel-indicators{margin-left:auto;margin-right:auto;justify-content: flex-end;margin-top:-24px;top:0;bottom:auto;height:6px}
  body.main .carousel-indicators [data-bs-target]{width:5px;border-radius: 5px;background:black;height:5px;border:0}

  body.main  .faq {padding-bottom:60px}
  body.main  .faq .title{color:#fff;padding-left:20px;padding-top:40px;font-size:18px}
  body.main  .faq-inner {padding:0 20px}
  body.main  .faq-inner ul li{background:rgba(255,255,255,.1);padding:6px 8px;border-radius: 8px;margin-bottom:4px;position: relative;}
  body.main  .faq-inner ul li dl{display:flex;justify-content:flex-start}             
  body.main  .faq-inner ul li dl dt,.faq-inner ul li dl dd{display:flex}
  body.main  .faq-inner ul li dl dt{font-size:12px;padding:5px 12px;border-radius: 4px;background:rgba(0,0,0,.2);color:#fff;min-width: 75px;height:25px;justify-content: center;}
  body.main  .faq-inner ul li dl dd{font-size:14px;color:#fff;padding-left:12px}

  body.main .usage-detail{padding:20px}
  
  body.main .usage-detail .title-area{}
  body.main .usage-detail .title{color:#fff;text-transform: uppercase;font-size:18px;font-weight: 700;}
  body.main .usage-detail .title + a{margin-right:3px}

  body.main .usage-detail .carousel-box{margin-top:20px;background:rgba(0,0,0,.2);padding:28px;border-radius: 8px;margin-bottom:4px;position: relative;}
  body.main .usage-detail .carousel-box .title{font-size:16px;}
  body.main .usage-detail .carousel-box dl{display: flex;padding-top:6px;padding-bottom:6px}
  body.main .usage-detail .carousel-box dl+dl{}
  body.main .usage-detail .carousel-box dl dt,body.main .usage-detail .carousel-box dl dd{display: flex;font-size:14px;width:50%;color:#fff}
  body.main .usage-detail .carousel-box dl dd{justify-content: end;font-weight:normal}
  body.main .btn-wrap .HCAU-btn{background:#e4dcd3;border-radius: 25px;border:0;}
  body.main footer{background: rgba(0,0,0,.85);}
  body.main footer .copyright{color:#444}
  .carousel-control-next-icon,.carousel-control-prev-icon{background: none;}

  .carousel-control-prev:disabled, .carousel-control-next:disabled{display:none}
          .carousel-control-next-icon, .carousel-control-prev-icon{width:32px;height:32px;border-radius: 16px;background-color: rgba(0,0,0,.32);background-image:none;opacity:1; 
            transition: all .15s ease;display:flex;justify-content: center;align-items: center;}
            .carousel-control-next-icon,.carousel-control-next-icon:focus,.carousel-control-next-icon:hover,.carousel-control-prev-icon:focus,.carousel-control-prev-icon:hover{background-color:#002c5f}
          .carousel-control-prev{left:-20px;opacity:1; }
          .carousel-control-next{right:-22px;opacity:1; }
          .HCAU-badge{height:22px}


          div:has(.carousel-item:first-child.active) + button,
          div:has(.carousel-item:last-child.active) + button + button,
          .disabled{display:none !important}
          


          .flicking-camera {
            width: 100%;
            height: 100%;
            display: inline-flex;
            position: relative;
            flex-direction: column;
            will-change: transform;
            z-index: 1;
            align-items:center;
        }
        .flicking-viewport {
          margin-left: auto;
    margin-right: auto;
    transition: height .5s;
    width: 100%;
    overflow: hidden;
    position: relative;
          margin-bottom: 10px;
        }
        .flicking-panel {
           background-color: #f2a65e;
           white-space: nowrap;
            display: flex;
            border-radius: 5px;
            margin-right: 10px;
            align-items: flex-end;
            justify-content: start;
            padding: 20px 40px;
            box-sizing: border-box;
            position: relative;
        }
        
        .is-justify-content-center {
            justify-content: center!important;
        }
        .is-flex {
            display: flex!important;
        }
       
        .mr-2{
            margin-right: 5px;
        }
        
   