//@import 'main';
//hyundai
$primary : #002C5F;
$secondary01 : #e4dcd3;
$secondary02 : #F6F3F2;
$point : #00aad2;
$point-red : #E63312;
$point-red-rgb : rgba(230, 51, 18, 0.05);
$border-color : #d5d5d5;
$bg-color : #fafafa;
$white : #fff;
$gray01 : #f5f5f5;
$gray02 : #d5d5d5;
$gray03 : #999;
$gray04 : #444;
$black : #000;
$font-size-xl : 32px;
$font-size-h1 : 24px;
$font-size-lg : 20px;
$font-size-md : 17px;
$font-size-sm : 15px;
$font-size-xs : 14px;

.g08{gap: 8px;}
.g10{gap: 10px;}
.g12{gap: 12px;}
.g16{gap: 16px;}
.g20{gap: 20px;}
.g40{gap: 40px;}
.g54{gap: 54px;}
.g96{gap: 96px;}
.gx-20{--bs-gutter-x: 20px;}
.gy-28{--bs-gutter-y: 28px;}

.rg0{row-gap: 0;}

.p10{padding: 10px;}
.p12{padding: 12px;}
.p20{padding: 20px;}
.p32{padding: 32px;}
.p40{padding: 40px;}
.p45{padding: 45px;}
.p50{padding: 50px;}
.pt12{padding-top: 12px;}
.pt16{padding-top: 16px;}
.pt20{padding-top: 20px;}
.pt32{padding-top: 32px;}
.pt40{padding-top: 40px;}
.pt60{padding-top: 60px;}
.pt80{padding-top: 80px;}
.pe16{padding-right:16px;}
.pb20{padding-bottom: 20px;}
.pb32{padding-bottom: 32px;}

.py12{padding-top: 12px;padding-bottom: 12px;}
.py15{padding-top: 15px;padding-bottom: 15px;}
.py16{padding-top: 16px;padding-bottom: 16px;}
.py20{padding-top: 20px;padding-bottom: 20px;}
.py24{padding-top: 24px;padding-bottom: 24px;}
.py28{padding-top: 28px;padding-bottom: 28px;}
.py32{padding-top: 32px;padding-bottom: 32px;}
.py35{padding-top: 35px;padding-bottom: 35px;}
.py40{padding-top: 40px;padding-bottom: 40px;}
.py60{padding-top: 60px;padding-bottom: 60px;}
.py80{padding-top: 80px;padding-bottom: 80px;}

.px20{padding-left: 20px;padding-right: 20px;}
.px30{padding-left: 30px;padding-right: 30px;}
.px32{padding-left: 32px;padding-right: 32px;}
.px36{padding-left: 32px;padding-right: 36px;}
.px40{padding-left: 40px;padding-right: 40px;}

.mx-16{margin-left: -16px;margin-right: -16px;}
.mx12{margin-left: 12px;margin-right: 12px;}
.mx20{margin-left: 20px;margin-right: 20px;}
.mx32{margin-left: 32px;margin-right: 32px;}
.my20{margin-top: 20px;margin-bottom: 20px;}
.my80{margin-top: 80px;margin-bottom: 80px;}

.mt-40{margin-top: -40px;}
.mt0{margin-top: 0px;}
.mt10{margin-top: 10px;}
.mt12{margin-top: 12px;}
.mt20{margin-top: 20px;}
.mt28{margin-top: 28px;}
.mt32{margin-top: 32px !important;}
.mt36{margin-top: 36px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt52{margin-top: 52px;}
.mt60{margin-top: 60px;}
.mt80{margin-top: 80px;}

.mb20{margin-bottom: 20px;}
.mb32{margin-bottom: 32px;}
.mb40{margin-bottom: 40px;}
.mb60{margin-bottom: 60px;}

a{text-decoration: none;}
.fw500{font-weight: 500;}

.w60{width: 60px;}
.w80{width: 80px;}
.w92{width: 92px;}
.w120{width: 120px;}
.w200{width: 200px;}
.w320{width: 320px;}
.w350{width: 350px;}
.w540{width: 540px;}
.h44{height: 44px;}
.h52{height: 52px;}
.h60{height: 60px;}

.border-bottom{border-bottom:1px solid $border-color !important;}
.border-top{border-top:1px solid $border-color !important;}
.border-top.black{border-color : $black !important;}
.border-top-dashed{border-top:1px dashed $gray03 !important;}
.border-top-dashed.gray02{color: $gray02 !important;}
.border-bottom-dashed{border-bottom:1px dashed $gray03 !important;}


//폰트 사이즈
.HCAU-txt-xl{color: $black;font-size: $font-size-xl;font-weight: 700;line-height: 1;}
.HCAU-h1{color: $black;font-size: $font-size-h1;text-transform: uppercase;font-weight: 700;line-height: 1;}
.HCAU-txt-lg{color: $black;font-size: $font-size-lg;font-weight: 700;}
.HCAU-txt-md{color: $black;font-size: $font-size-md;}
.HCAU-txt-sm{color: $black;font-size: $font-size-sm;}
.HCAU-txt-xs{color: $black;font-size: $font-size-xs;}

//폰트 컬러
.white{color: $white}
.gray01{color : $gray01}
.gray02{color : $gray02}
.gray03{color : $gray03}
.gray04{color : $gray04}
.black{color: $black !important}
.point-red{color: $point-red}
.point-color{color: $point}
.primary-color{color: $primary}
.color-complete{color: $black;}
.color-overdue{color: $point-red;}
.color-scheduled{color: $primary;}

//header
header{
    background: $white;
    padding: 12px 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

//footer
footer{
    padding: 32px 20px;
    background: $gray02;
    .family-site{
        position: relative;
        .HCAU-btn{
            background: transparent;
            border-color: $gray03;
            color: $gray03;
        }
        .HCAU-btn::after{
            display: none;
        }
        .ico-dropdown{
            position: absolute;
            right: 16px;
            top: 50%;
            margin-top: -12px;
            path{
                fill: $gray03;
            }
        }
    }
    .mail path,
    .call path,
    .bar rect{fill: $gray03 !important}
    .arrow path{stroke: $gray03}

    .contact-us *{
        font-size: 13px;
        color: $gray03;
    }
    .footer-menu{
        span{display: inline-block;margin-top: 4px;}
        rect{fill: $gray03;}
        a{
            font-size: 13px;
            color: $gray03;
        }
    }
    .copy{
        font-size: 13px;
        color: $gray03;
    }
}
.main footer{
    background: $black;
    .family-site{
        .HCAU-btn{
            border-color: $gray04;
            color: $gray04;
        }
        .ico-dropdown{
            path{
                fill: $gray04;
            }
        }
    }
    .mail path,
    .call path,
    .bar rect{fill: $gray04 !important}
    .arrow path{stroke: $gray04}

    .contact-us *{
        color: $gray04;
    }
    .footer-menu{
        rect{fill: $gray04;}
        a{
            color: $gray04;
        }
    }
    .copy{
        color: $gray04;
    }
}

//HCAU-title
.HCAU-detail{padding: 12px 20px 60px;position: relative;}
.HCAU-title{padding: 12px 20px;}
.HCAU-title .HCAU-h1 + div{margin-top: 8px;}

//title-area
.title-area{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;

}

//button
.HCAU-btn{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: $black;
    border-radius: 4px;
    background: $white;
    border: 1px solid $black;
    text-align: center;
    &.btn-sm{
        font-size: $font-size-sm;
        font-weight: 700;
        padding: 0 16px;
        line-height: 1;
        height: 33px;
        .ico-btn{display: inline-block;vertical-align: middle;}
    }
    &.btn-smd{
        font-size: $font-size-sm;
        font-weight: 700;
        padding: 0 20px;
        line-height: 1;
        height: 44px;
    }
    &.btn-md{
        font-size: $font-size-md;
        font-weight: 700;
        padding: 0 20px;
        line-height: 1;
        height: 48px;
    }
    &.btn-lg{
        font-size: $font-size-md;
        font-weight: 700;
        padding: 0 20px;
        line-height: 1;
        min-height: 60px;
        min-width: 123px;
    }
    &:disabled{
        color: $gray03;
        border-color: $gray03;
        background-color: $gray01;
    }
    &.btn-cta{
        font-size: $font-size-md;
        font-weight: 700;
        padding: 20px 10px;
        line-height: 1.177;
        border: none;
        border-radius: 0;
        min-height: 60px;
        &.primary{
            background: $primary;
            color: $white;
        }
        &.gray03{
            background: $gray03;
            color: $white;
        }
        &.default{
            background: $white;
            color: $black;
            border:1px solid $black;
        }
        &:disabled{
            color: $gray03;
            border-top:1px solid $gray03;
            border-bottom:1px solid $gray03;
            background-color: $gray01;
        }
    }
    &.full{width: 100%;}
    &.dropdown-toggle{
        font-size: $font-size-sm;
        line-height: 1.429;
        padding: 11px 54px 11px 16px;
        height: 44px;
        color: $black;
        border-color : $border-color;
        box-shadow: none;
        width: 100%;
        text-align: left;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        &.HCAU-form-invalid{
            border-color: $point-red;
        }
        &::after{
            // border-top-width: 5px;
            // border-right-width: 5px;
            // border-left-width: 5px;
            // transform: translateY(-50%);
            position: absolute;
            right: 16px;
            top: 50%;
            margin-left: 0;
            margin-top: -12px;
            border:none;
            width: 24px;
            height: 24px;
            background: url(/static/html/m/hyundai/img/ico_dropdown.svg) no-repeat 0 0;
        }
        &:disabled{color: $gray03;}
    }
    &.btn-keyvi{
        color: $white;
        border-color: $white;
        background: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(10px);
    }
}
.HCAU-toggle-check{
    label.HCAU-btn.btn-sm{
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        height: 33px;
    }
    input:checked + label{
        background: $black;
        color: $white;
    }
}
.btn-md-wrap{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.btn-cta-wrap{
    width: 100%;
    position: sticky;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 1px;
    background: $white;
    z-index:3;
    // margin-left: -20px;
    // margin-right: -20px;
    > button{
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 50%;
    }
    &.g0{
        gap:0;
        .default{
            border-left:0;
            border-right:0;
        }
    }
}

//border-box, bg-box
.border-box{
    border: 1px solid $gray02;
    background: $white;
    &.black{
        border-color: $black;
    }
    &.secondary{
        border-color : $secondary01;
        background: $secondary02;
    }
}
.bg-box{
    background: $gray01;
}
.bg-box2{
    background: $bg-color;
}
.bg-box3{
    background: $gray02;
}
.bg-box4{
    background: #e5e5e5;
}

[class*='bg-box'],
.border-box{
    border-radius: 4px;
}

*.round{border-radius:8px;}
*.edge{border-radius: 0;}


//form text, select
.form-label{font-size: $font-size-sm;}
.HCAU-form.form-control,
.HCAU-form.form-select{
    font-size: $font-size-sm;
    line-height: 1.2;
    padding: 12px 16px;
    height: 44px;
    color: $black;
    border-color : $gray02;
    box-shadow: none;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &::placeholder{
        color: $gray03;
    }
}
.HCAU-form:placeholder-shown {
    text-overflow: ellipsis;
}
textarea.HCAU-form.form-control{
    height: auto;
    white-space: break-spaces;
}
.HCAU-form.form-control:focus,
.HCAU-form.form-select:focus,
.HCAU-btn.dropdown-toggle:focus{
    border-color: $point;
    outline: 1px solid $point;
}
.HCAU-form.form-control:read-only{
    background-color: $gray01;
    color: $gray03;
    border-color: $gray02;
    &:focus{
        outline:none;
        border-color: $border-color;
    }
    &.black{color: $black;}
}
.HCAU-form.form-control:disabled,
.HCAU-form.form-select:disabled{
    background-color: $gray01;
    color: $black;
}
.HCAU-form.time-limit + .time-limit-num{
    position: absolute;
    right: 16px;
    top: 12px;
    font-size: 14px;
    color: $point-red;
}

//calendar
// .calendar{
//     position: relative;
//     .HCAU-form.form-control{
//         padding-right: 50px;
//         &:read-only + span > img{opacity:0.4}
//     }
//     span{
//         display: inline-block;
//         position: absolute;
//         right: 16px;
//         top: 50%;
//         margin-top: -12px;
//     }
// }

//form check, radio
.HCAU-form.form-check-input{
    width: 20px;
    height: 20px;
    // box-shadow: none;
    border-color: $border-color;
    // margin-top: 0;
    & + label{
        // vertical-align: bottom;
        font-size: $font-size-sm;
        margin-left: 2px;
        line-height: 1.8;
    }
}
.HCAU-form.form-check-input[type=checkbox]{
    border-color: $gray02;
    background-image: url(/static/html/m/hyundai/img/bg_input_check.svg);
    background-size: 14px 14px;
    &:checked{
        background-color: $primary;
        border-color: $primary;
        background-image: url(/static/html/m/hyundai/img/bg_input_check_on.svg);
        background-size: 14px 14px;
    }
    &:disabled{
        background-image: none;
        // background-color: red;
    }
}
.HCAU-form.form-check-input[type=radio]{
    border-color: $gray02;
    &:disabled{
        opacity: 1;
        background: $gray01;
    }
}
.HCAU-form.form-check-input:checked[type=radio]{
    background-color: $white;
    border-color: $primary;
    background-image: url(/static/html/m/hyundai/img/bg_input_radio_on.svg);
    background-size: 14px 14px;
}
.HCAU-form.time-limit{
    padding-right: 54px;
    & + .time-limit-num{
        position: absolute;
        right: 16px;
        top: 12px;
        font-size: 14px;
        color: $point-red;
    }
}

// validation, HCAU-info-msg
.HCAU-valid .form-control.is-valid,
.HCAU-valid.was-validated .form-control:valid{
  background: $white;
  border-color: $border-color;
}
.HCAU-valid .form-control.is-valid:read-only,
.HCAU-valid.was-validated .form-control:valid:read-only{
    background-color: $gray01;
    color: $gray03;
}
.HCAU-valid .form-control.is-invalid,
.HCAU-valid.was-validated .form-control:invalid{
    background: $white;
    border-color: $point-red;
}

.HCAU-form.form-control.is-invalid,
.HCAU-form.form-control.HCAU-form-invalid{
    border-color: $point-red;
    &::placeholder{
        color: $point-red;
    }
}

.invalid-feedback,
.valid-feedback,
.HCAU-info-msg,
.HCAU-valid-feedback,
.HCAU-invalid-feedback{
    position: relative;
    font-size: $font-size-xs;
    padding-left: 10px;
    margin-top: 8px;
    &:before{
        content:'';
        display: block;
        width: 2px;
        height: 2px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        top: 9px;
    }
}
.valid-feedback,
.HCAU-valid-feedback{
    color: $point;
    &:before{
        background: $point;
    }
}
.invalid-feedback,
.HCAU-invalid-feedback{
    color: $point-red;
    &:before{
        background: $point-red;
    }
}
.HCAU-info-msg{
    color: $gray03;
    font-size: 14px;
    &:before{
        background: $gray03;
    }
}
// bottom sheet
.offcanvas-backdrop.show{
    opacity:0.6;
    background-color: $black;
}
.HCAU-bottom-sheet{
    height: auto !important;
    .offcanvas-header{
        padding: 12px 20px;
        flex-direction: row-reverse;
        .btn-close{
            background: none;
            padding: 0;
            margin: 0;
            width: auto;
            height: auto;
            opacity: 1;
        }
    }
    .offcanvas-body{
        padding: 0;
        max-height:295px;
        border-top:1px solid $gray02;
        .bottom-sheet-item{
            overflow: hidden;
            li{
                border-bottom:1px solid $gray02;
                a{
                    display: block;
                    font-weight: 700;
                    padding: 20px;
                }
            }
        }
    }
}

//modal
.HCAU-modal{
    .modal-dialog{
        &.modal-mid{
            margin: 20px;
            .modal-content{
                border: none;
                border-radius: 10px;
                overflow: hidden;
            }
            .modal-body{
                padding: 40px 20px;
            }
            .btn-cta-wrap{
                gap: 0;
            }
        }
        &.modal-sm{
            max-width: 240px;
            margin-left: auto;
            margin-right: auto;
            .modal-content{
                border: none;
                border-radius: 4px;
                overflow: hidden;
            }
            .modal-body{
                padding: 28px 20px;
            }
            .btn-cta-wrap{
                gap: 0;
                .btn-cta{
                    padding: 0 10px;
                    min-height: 40px;
                    font-size: 15px;
                }
            }
        }
    }
    @media (min-width: 576px){
        .modal-dialog{
            &.modal-mid{
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
    .modal-top{
        padding: 12px 20px;
        text-align: right;
        .btn-close{
            background: none;
            padding: 0;
            margin: 0;
            width: auto;
            height: auto;
            opacity: 1;
        }
    }
    // .modal-header{
    //     padding: 12px 20px;
    //     border-bottom: none;
    //     .HCAU-h1{text-transform: none;}
    // }
    .modal-body{
        padding: 12px 20px 60px;
        .modal-header {
            display: block;
            margin-top: -12px;
            margin-left: -20px;
            margin-right: -20px;
            padding: 0;
            border-bottom:none;
            & + div{margin-top: 8px;}
            .HCAU-h1 {
                text-transform: none;
                padding: 12px 20px;
                // border-bottom: 1px solid $black;
                & + .bg-box{
                    padding: 22px 20px;
                }
            }
            // &:after{
            //     content:'';
            //     display: block;
            //     height: 32px;
            // }
        }
    }
    .modal-footer{
        display: block;
        padding: 0;
        > *{margin: 0;}
    }
}

//pagination
.HCAU-pagination {
	margin-top: 45px;
	.inner {
		display: flex;
		// align-items: end;
		justify-content: center;
		gap: 10px;
		.arrow {
			display: flex;
            gap: 10px;
		}
		.pages {
			display: flex;
			gap: 32px;
            align-items: center;
            li{border:1px solid $white;}
            li a{
                font-weight: 700;
                display: inline-block;
                height: 24px;
                line-height: 24px;
            }
			li.active {
				a {
					color: $point;
                    text-decoration: underline;
				}
			}
		}
	}
}


//안내
.g-notice{
    // border-top: 1px dashed $gray03;
    padding: 40px 0 0;
    margin-top: 60px;
    dl{
        dt{
            font-weight: 700;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            gap: 6px;
            // &::before{
            //     content:'';
            //     display: inline-block;
            //     width: 18px;
            //     height: 18px;
            //     background: url(/static/img/ico/ico_notice.png) no-repeat 0 0;
            //     vertical-align: text-top;
            //     margin-right: 2px;
            // }
            .ico-gnotice img{vertical-align: text-bottom;}
        }
    }
}
.HCAU-nodata + .g-notice{margin-top: 0;}

//bullet list
.HCAU-bullet-list{
    li{
        position: relative;
        // font-size: 14px;
        color: $gray04;
        padding-left: 11px;
        &::before{
            content:'';
            display: inline-block;
            width: 3px;
            height: 3px;
            border-radius: 3px;
            background: $gray03;
            position: absolute;
            left:0;
            top: 9px;
        }
        .link{margin-left: 4px;}
        & + li{margin-top: 12px;}
        &.no-bullet{
            &::before{display: none;}
            .link{margin-left: 0;}
        }
    }
    .point-red{color: $point-red;}
    .point-red:before{
        background-color: $point-red;
    }
}
.HCAU-bullet-list.black li{color: $black;}

//링크
.link{
    font-weight: 700;
    color: $primary;
    // margin-left: 4px;
    text-decoration: none;
    // font-size: 14px;
    &::after{
        content:'';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-right: 1px solid $primary;
        border-bottom: 1px solid $primary;
        transform: rotate(-45deg);
        margin-left: 3px;
        position: relative;
        top: -1px;
    }
    &.HCAU-txt-xs{font-size: $font-size-xs;font-weight: 700;}
}

//table
.HCAU-table{
    border-top: 1px solid $secondary01;
    th,td{
        border-bottom: 1px solid $secondary01;
        padding: 16px;
    }
    th{
        background: $secondary02;
        font-weight: 700;
    }
    td{background: $white;}
    tr.table-active td{background:$point-red-rgb;}

}

//prd-keyvi
.prd-keyvi{
    // padding:0 20px 60px;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    margin:0 auto;

    .HCAU-flex-table{
        display: flex;
        justify-content: center;
        align-items: center;

        &.flex-column{
            img{width:auto;}
        }
        img{width:100%}
        .HCAU-bullet-list.black li{padding-left:10px}
        > .HCAU-txt-sm{
            position:absolute;
            text-align: center;
            font-size:16px;
        }

    }
    .HCAU-table.dot{
        position: absolute;
        padding:0 40px;
        margin-top:-60px;
        z-index: 2;
        .table tr td{ padding-left:2rem}
    }
    .chart-wrap{
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        border:1px solid $border-color;
        padding: 40px 20px;
        // img{padding:180px 20px 40px 20px;border: 1px solid $border-color;}
        // .HCAU-txt-lg{position:absolute;top:50px;}
        // .HCAU-txt-md{position:absolute;top:96px;font-size:15px;}
        .HCAU-txt-sm{position: initial;left: initial;top: initial;margin-top: 16px;font-size: $font-size-sm;}
        img{margin-top: 50px;width: 100% !important;max-width:295px;}
    }
}

// tooltip
.HCAU-tooltip {
	display: inline-block;
	position: relative;
    vertical-align: text-bottom;
    vertical-align: middle;
	a {
		display: flex;
        &:hover + .HCAU-tooltip-inner{
            display: block;
        }
	}
	.HCAU-tooltip-inner {
        display: none;
		padding: 12px 20px;
		box-sizing: border-box;
		min-width: 180px;
		max-width: 180px;
		background: $black;
		position: absolute;
		left: -18px;
		bottom: 30px;
		border-radius: 8px;
		.HCAU-tooltip-arrow {
			width: 10px;
			height: 10px;
			background: $black;
			position: absolute;
			left: 23px;
			bottom: -4px;
			transform: rotate(45deg);
		}
		.HCAU-tooltip-cont {
            color: $white;
            > div + div{margin-top: 4px;}
		}
	}
    &.rtl{
        .HCAU-tooltip-inner {
            // display: block;
            left: initial;
            right: -14px;
            z-index: 1;
            .HCAU-tooltip-arrow{
                left: initial;
                right: 16px;
            }
        }
    }
}

// step
.HCAU-step{
    // width: 280px;
    margin: 0 auto;
    position: relative;
    .step-num{
        display: flex;
        gap: 20px;
        justify-content: center;
        .step-item{
            position: relative;
            & + .step-item:before{
                content: '';
                display: inline-block;
                width: 20px;
                height: 2px;
                background: $gray02;
                position: absolute;
                left: -20px;
                top: 15px;
            }
            .num{
                width: 32px;
                height: 32px;
                border: 2px solid $gray02;
                border-radius: 100%;
                font-size: 16px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img{
                display: none;
                margin-top: 4px;
                margin-left: auto;
                margin-right: auto;
            }
            // .txt{
            //     position: absolute;
            //     left: 0;
            //     top: 50px;
            //     white-space: nowrap;
            //     display: none;
            // }
            &.active{
                .num{
                    background: $primary;
                    border-color: $primary;
                    color: $white;
                }
                // img{
                //     display: block;
                // }
                // .txt{
                //     display: block;
                // }
            }
        }
    }
    .step-txt{
        .HCAU-txt-md{
            font-weight: 700;
            color: $primary;
            text-align: center;
            display: none;
            &.active{display: block;}
        }
        // .HCAU-txt-sm:nth-child(1){text-align: left;}
        // .HCAU-txt-sm:nth-child(2){text-align: center;}
        // .HCAU-txt-sm:nth-child(3){text-align: right;}
    }

}

//badge
.HCAU-badge{
    display: inline-block;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 15px;
    vertical-align: middle;
    min-width: 50px;
    text-align: center;
    &.type01{color: $point-red;background: #FEEBEE;border: 1px solid $point-red}
    &.type02{color: $primary;background: #EBEFF3;border: 1px solid #3F6FA6;}
    &.type03{color: $point;background: #EBF5F9;border: 1px solid $point;}
    &.type04{color: $primary;background: #EBEFF3;border: 1px solid #EBEFF3;min-width: 83px;text-align: center;font-weight: 700;}
    &.type05{color: $point;background: #EBF5F9;border: 1px solid #EBF5F9;min-width: 83px;text-align: center;font-weight: 700;}
    &.type06{color: $gray03;background: $gray01;border: 1px solid $gray01;min-width: 83px;text-align: center;font-weight: 700;}
    &.type07{color: $gray03;background: $gray01;border: 1px solid $gray03;}
}

// nodata
.HCAU-nodata.type01{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 110px 0;
    .HCAU-txt-md{
        font-weight: 700;
        margin-top: 16px;
        text-align: center;
    }
}
.HCAU-nodata.type02{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 80px 0;
    .HCAU-txt-sm{
        font-weight: 700;
        margin-top: 8px;
        text-align: center;
        line-height: 1.2;
    }
}

// filter
.HCAU-filter {
    padding: 20px 16px;
    background: $bg-color;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    .inner{
        padding: 12px 0;
        display: flex;
        gap: 16px;
        // justify-content: space-between;
        > div{
            flex-grow: 1;
        }
    }
}
.HCAU-form-wrap + .HCAU-form-wrap{margin-top: 20px;}
.HCAU-form-wrap > .title{margin-bottom: 16px;}
.form-title.HCAU-txt-md{margin-bottom: 16px;}

// tabmenu
.HCAU-tab{
    position: relative;
    display: flex;
    overflow:auto;
    // &:after{
    //     content:'';
    //     display: block;
    //     width: 100%;
    //     height: 1px;
    //     background: $border-color;
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    // }

    &.native-scroll {
        overflow: hidden;
        overflow-x: auto;
        margin-right:-20px;
        padding-left:0px;
        margin-left:-20px;
        padding-right:0;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
           -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
             -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        &:after{
            content:'';
            display: block;
            width: calc(100% - 20px);
            height: 1px;
            background: $gray03;
            position: absolute;
            left: 20px;
            bottom: 0;
        }
        > div{
            display:inline-flex;
            position: relative;
            button:first-child{
                margin-left:20px;
            }
            button:last-child{
                margin-right:20px;
            }
        }
    }

    &.native-scroll::-webkit-scrollbar {
        display: none;
    }
    button{
        display: inline-flex;
        flex:1;
        justify-content: center;
        position: relative;
        z-index: 1;
        font-size: 16px;
        color: $gray03;
        font-weight: 700;
        padding: 12px 36px;
        white-space: nowrap;
        border-bottom:1px solid $gray03;
        &.active{
            border-bottom: 2px solid $black;
            color: $black;
        }

    }
    &.ellipsis{overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &.me-20{ margin-right:-20px; }
}



.HCAU-tab-small{
    display: flex;
    li{
        flex: 1 1 50%;
        button{
            width: 100%;
            padding: 7px;
            border:1px solid $gray02;
            &.active{
                border-color: $black;
            }
        }
        &:first-child button{
            border-radius: 4px 0px 0px 4px;
        }
        &:last-child button{
            border-radius: 0px 4px 4px 0px;
        }
    }
}

// .HCAU-tab-wrap {
// 	margin: 0 -20px;
//     .HCAU-tab-inner {
//         .HCAU-tab {
//             white-space: nowrap;
//             display: inline-flex;
//             &:after {
//                 display: none;
//             }
//             li {
//                 flex: 0 0 auto;
//                 &:first-child a {
//                     margin-left: 20px;
//                 }
//                 a {
//                     display: inline-block;
//                     position: relative;
//                     z-index: 1;
//                     font-size: 16px;
//                     color: #999;
//                     font-weight: 700;
//                     padding: 12px 36px;
//                     &:after {
//                         content: '';
//                         display: block;
//                         width: 100%;
//                         height: 1px;
//                         background: #999;
//                         position: absolute;
//                         left: 0;
//                         bottom: 0;
//                     }
//                 }
//                 &.active a:after {
//                     height: 2px;
//                     background: #000;
//                 }
//                 &.active a {
//                     color: #000;
//                 }
//             }
//         }
//     }
// }

// .HCAU-tab-cont {
// 	.HCAU-tab-cont-inner {
// 		display: none;
// 		&.current {
// 			display: block;
// 		}
// 	}
// }


// request-step
.request-step{
    > div{
        position: relative;
        .HCAU-txt-md{
            display: inline-block;
            border-bottom: 1px solid $black;
        }
        img{
            position: absolute;
            left: 50%;
            margin-left: -12px;
            bottom: -18px;
            transform: rotate(90deg);
            z-index: 1;
        }
    }
    > div + div{margin-top: 12px;}
}

//item
.item + .item{margin-top: 20px;}

//request-amount
.request-amount{
    border-top: 1px solid $gray02;
    box-shadow: 0px -10px 6px 0px rgba(0, 0, 0, 0.04);
    // margin-left:-20px;
    // margin-right: -20px;
    // margin-bottom: -20px;
    position: sticky;
    left: 0;
    bottom: 60px;
    background: $white;
    .HCAU-h1{font-size: 22px;}
}

//search bar
.HCAU-search-bar{
    > div + div{margin-top: 20px;}
    .radio-group{
        display: flex;
        flex-wrap: wrap;
        border:1px solid $border-color;
        border-radius: 4px;
        overflow: hidden;
        > div{
            flex: 1 0 50%;
            &:nth-child(3),
            &:nth-child(4){
                border-top:1px solid $border-color;
            }
            &:nth-child(1),
            &:nth-child(3){
                border-right:1px solid $border-color;
            }
            .btn{
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 0;
                padding: 10px 0;
            }
        }
    }
}
.HCAU-search-bar .btn-check:checked+.btn{
    border: none;
    background: $black;
    color: $white;
}

//num circle
.num-circle{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid $black;
    border-radius: 100%;
    text-align: center;
    font-size: 11px;
    line-height: 18px;
    font-weight: 700;
}

// card list
.card-list.border-box{
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    .bg-box{border-radius: 8px;}
    .card-list-button{
        margin: 1rem -1rem 0;
        display: flex;
        &.disabled{
            border-color:#E5E5E5 !important;
        }
        button{
            flex:1 1 100%;
            position: relative;
            font-size: $font-size-sm;
            font-weight: 700;
            padding: 16px 0;
        }
        button + button:before{
            content:'';
            display: block;
            width: 1px;
            height: 20px;
            background: $gray02;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -10px;
        }
        button:disabled{
            color: #E5E5E5;
        }
    }
}

// result msg
.HCAU-result-msg{
    padding: 80px 40px;
    text-align: center;
}
.HCAU-result-msg + .g-notice{margin-top: 0;}

// HCAU-tab-radio
.HCAU-tab-btn{
    display: flex;
    > div{
        flex: 1;
        &:first-child label{border-radius:4px 0 0 4px}
        &:last-child label{border-radius:0 4px 4px 0;}
        label{
            border-radius:0;
            border-color: $border-color;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        input:checked + label{
            background-color: $black;
            border-color: $black;
            color: $white;
        }
    }
}
.HCAU-tab-radio2{
    display: flex;
    > div{
        flex: 1;
        &:first-child label{border-radius:4px 0 0 4px}
        &:last-child label{border-radius:0 4px 4px 0;}
        label{
            border-radius:0;
            border-color: $border-color;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 400 !important;
        }
        input:checked + label{
            background-color: $black;
            border-color: $black;
            color: $white;
        }
        input:disabled + label{
            background-color: $gray01;
            border-color: $gray02;
            color: $gray03;
        }
    }
}
//input-type file
.filebox{
    input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }
    .btn-clear{
        position:absolute;
        right:16px;
        top:10px
    }
}
//HCAU-terms
.HCAU-terms{
    & + .HCAU-terms{margin-top: 40px;}
    .HCAU-terms-title{
        padding-bottom: 12px;
    }
    .HCAU-terms-detail{
        padding-top: 12px;
    }
}
//HCAU-accordion
.HCAU-accordion{
    .accordion{
        border-top: 1px solid $border-color;
        .accordion-item{
            border: none;
            & + .accordion-item{
                border-bottom: 1px solid $border-color;
            }
            .accordion-header{
                .accordion-button{
                    gap: 16px;
                    border-radius: 0;
                    padding: 24px 16px;
                }
                .accordion-button:not(.collapsed){
                    background: none;
                    .HCAU-txt-sm.mt-1{font-weight: 700;}
                }
                .accordion-button:focus{
                    box-shadow: 0 0 0 2px rgba(0, 170, 210, 1);
                }
            }
            .accordion-collapse{
                .accordion-body{
                    padding: 24px 16px;
                    background: $gray01;
                }
            }
        }
    }
}

//HCAU-gnb
.HCAU-modal.HCAU-gnb{
    .modal-top{
        text-align: left;
    }
    .modal-header{
        padding: 24px 20px;
        border-bottom: 1px solid $black;
    }
    .modal-body{padding: 0;}
}
.HCAU-gnb-search{
    position: relative;
    input{
        width: 100%;
        box-sizing:border-box;
        border: none;
        padding: 20px;
        padding-right: 60px;

        font-size: $font-size-sm;
        background: $secondary02;
    }
    .btn-search{
        display: none;
    }
    &.empty{
        .btn-search{
            position: absolute;
            right: 13px;
            top: 8px;
            padding: 10px;
            display: block;
        }
    }
    /* IE의 경우 */
    input::-ms-clear, input::-ms-reveal {
        -webkit-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        background: url(/static/html/m/hyundai/img/ico_search_clear.svg) 0 0 no-repeat;
        cursor:pointer;
        position: absolute;
        right: 20px;
    } /* 크롬의 경우 */
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        /* opacity: 0; */
        -webkit-appearance: none;
        width: 24px;
        height: 24px;
        background: url(/static/html/m/hyundai/img/ico_search_clear.svg) 0 0 no-repeat;
        cursor:pointer;
        position: absolute;
        right: 20px;
    }
}
.HCAU-gnb-menu{
    > .accordion{
        > .accordion-item{
            border: none;
            border-radius: 0;
            --bs-accordion-inner-border-radius: 0;
            > .accordion-header{
                button{
                    color: $black;
                    padding: 20px 32px;
                    background: none;
                    border: none;
                    box-shadow:none;
                    &:after{
                        background: url(/static/html/m/hyundai/img/ico_gnb_close.svg);
                    }
                    &.collapsed{
                        border: none;
                        &:after{
                            background: url(/static/html/m/hyundai/img/ico_gnb_open.svg);
                        }
                    }
                }
            }
            > .accordion-collapse{
                // background: red;
                // border: 1px solid #000;
                // padding: 0 32px 20px;
                .accordion-body{
                    // padding: 0;
                    padding: 0 32px 20px;
                    .accordion{
                        border:1px solid $gray02;
                        border-radius:7px;
                        overflow: hidden;
                        .accordion-item{
                            border: none;
                            border-radius: 0;
                            --bs-accordion-inner-border-radius: 0;
                            background: $gray01;
                            & + .accordion-item{border-top: 1px solid $gray02;}
                            .accordion-header{
                                // border-bottom:1px solid $gray02;
                                button{
                                    padding: 16px;
                                    background: none;
                                    box-shadow:none;
                                    &:after{
                                        // background: url(/static/html/m/hyundai/img/ico_gnb_close.svg);
                                        display: none;
                                    }
                                    &.collapsed{
                                        border: none;
                                        &:after{
                                            // background: url(/static/html/m/hyundai/img/ico_gnb_open.svg);
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .HCAU-gnb-depth3{
            li{
                border-bottom:1px solid $gray02;
                .HCAU-txt-sm{
                    display: block;
                    background: $gray01;
                    border: none;
                    padding: 16px;
                }
            }
        }
    }
}
.modal-search{
    button{
        display: block;
        width: 100%;
        text-align: left;
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 20px;
        background: $secondary02;

    }
}
.terms-paging{
    border: 2px solid $gray02;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 20px;
    border-radius: 30px
}
.btn-back-to-top {
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius:100%;
    background: $black;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    position: sticky;
    left: 100%;
    margin-right: 20px;
    bottom: 80px;
    margin-bottom: 20px;
    display: none;
}
.select-membership{
    a.border-box{
        padding: 59px 0;
        text-decoration: none;
        border-radius: 4px;
        flex: 1 1 100%;
        // img{width: 60px;}
        img.hover{display: none;}
        span{
            display: block;
        }
        &:hover{
            border-color: $point;
            img{
                display: none;
                &.hover{display: inline-block;}
            }
            span{color: $point;}
        }
    }
}
.HCAU-prd{
    display:flex;margin:0 auto;
    ul{
        gap:25px;
        li{
            width:50%;float:left;
            &:nth-child(odd)  .card{margin-right:12.5px}
            &:nth-child(even) .card{margin-left:12.5px}
            .card{
            border:2px solid transparent;
            &.active,&:hover{border:2px solid #00aad2;}

            }
        }
    }
    .card-body{padding:0;
        span{
            display:flex;
            padding:32px 0 20px;
            justify-content: center;
            img{max-width:100%}
        }
        .HCAU-txt-md{font-weight: 700;text-align: center;margin-top:15px;margin-bottom:8px}
        .HCAU-txt-sm{text-align:center;padding-bottom:20px;line-height:18px}
    }
}

.border-bottom.black{border-color:#000 !important;}
.postcode.select{
    .inner{
        border-top:1px solid $border-color;
        border-bottom:1px solid $border-color;
        margin-left:-20px;
        margin-right:-20px;
        padding:12px 16px;
    }
}
.product.select{
    .card.full{
        width:100%;
        align-items: center;
        border:0;
        display:flex;
        .card-body{padding:12px 18px;display:flex;flex-direction: column;}
        span img{max-width:100%}
        .HCAU-txt-md{font-size:20px}
    }
}

.sticky-wrap {
    padding: 32px;
    z-index: 2;
    width: 100vw;
    position: sticky;
    left: 0;
    top: 0;
    right:0;
    gap: 0;
    background: $primary;
    margin:0 -20px;
    &.position-relative {
        z-index:0;
        padding:27px 20px;
        button{display: none;}
        }
    &.final{padding:27px 20px;margin-top:20px}
    div {
        color:#fff;font-weight: 700;font-size:15px;line-height:30px;align-items:center;
        &.sum{font-size:20px}
    }
    button{
        position:absolute;width:calc(100vw - 40px);
        &[aria-expanded="false"]{
            bottom:-32px;
             //닫힘
            &+.show{opacity:1;display:block ;transform:translateY(0%);transition:all .35s ease;.car{width:50%;img{max-width:80%}}}
            &+.show+.not{opacity:0;display:none !important;transform:translateY(-50%);transition:all .35s ease;}
        };
        &[aria-expanded="true"]{
            bottom: -25px;
            transform: rotate(180deg);
            &+.show{opacity:0;display:none !important ;transform:translateY(-50%);transition:all .35s ease;.car{width:0;img{max-width:0%}}}
            &+.show+.not{opacity:1;display:block ;transform:translateY(0%);transition:all .35s ease;}
        }
    }
    &+.HCAU-table .HCAU-form.form-check-input + label{display: inline;}
}

.prd-option{
    padding:0;
    .accordion{
        --bs-accordion-btn-focus-border-color: transparent;
        --bs-accordion-btn-focus-box-shadow: none;
        .accordion-item{
            .accordion-button{background:#f5f5f5}
            background:#f5f5f5;
            border:0;
            }
    }

}

.card-option {border-bottom:1px solid #e5e5e5;
    &.b-none{border:0}
}

.HCAU-tab-btn{
    .nav-tabs{
        display: flex;
        justify-content: space-around;
        width:100%;
        .nav-item{flex:1 0 50%;
        .nav-link{
            width: 100%;
            border-color: #ddd;
            color: $gray03;
            background: #f5f5f5;
            font-weight: 700;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;

            height: 44px;
        }
        .nav-link.active{
            border-color: $black;
            background: $white;
            color: $black;
            margin-bottom:0;
        }
    }
    }
}
.HCAU-tab-radio2{
    display: flex;
    > div{
        flex: 1;
        .HCAU-btn.btn-smd{padding:0 10px}
        &:first-child label{border-radius:4px 0 0 4px}
        &:last-child label{border-radius:0 4px 4px 0;}
        label{
            border-radius:0;
            border-color: $border-color;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        input:checked + label{
            background-color: $black;
            border-color: $black;
            color: $white;
        }
    }
}
.btn-cta .HCAU-btn.btn-lg{min-height:48px}
.btn-cta .primary{background:$primary;color:white}
.prd-tab .HCAU-h2.mb10{font-size:$font-size-lg}



//product table
.HCAU-table.type03{
    table{
        tbody tr {
            display:flex; flex-wrap:wrap;
        }
        tbody tr th {flex:0 1 100%;}
        tbody tr td {display:flex;flex-grow:1;
            &.text-end{justify-content:flex-end;flex-basis: 70px;}
        }

        .bd-none{
            th,td{border:0}
        }
        .sum{
            th, td{
            background:#fff;border-top:1px solid #000;border-bottom:1px solid #000;line-height:30px;padding:16px 20px;
            }
        }
    }
}

.accordion-toggle-area{
    // position: relative;
    background: $white;
    position: sticky;
    top: -12px;
    z-index: 1;
    button{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid $primary;
        background: $white;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        bottom: -20px;
        &.collapsed{
            transform: rotate(180deg);
        }
    }
}

.btn-disabled > img{
    opacity:0.15;
}