@charset "UTF-8";
@import url("bootstrap.min.css");
@import "HCAU-common";
:root {
	--index: calc(1vw + 1vh);
    --width: calc(1vw);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
    --white: #fff;
    
	--gallery-gap: calc(var(--index) * 3.5);
    --w100p: 100px;
    --HYReg: 'HYRegular';
    --HYBold: 'HYExtraBold';
    // font-size:calc(1vw - 1vh +.5vmin)
}

@function get-vw($target) {
    $vw-context: (1920 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
    }
body {
	background:#000;
	color: #fafafa;
	font-family: var(--HYReg);
	overflow-x: hidden;
}

#parallax__nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: var(--bs-black);
    padding: 20px;
    width:100%;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        max-width: 1440px;
        margin:0 auto;
        h1{display: block;}
        ul{            
            li {
                padding-left:40px;
                list-style: none;
                display: inline;
                a {
                    display: inline-block;
                    color:#999;
                    transition: all 0.3s;
                    text-decoration: none;
                    font-family: var(--HYBold);
                    
                }
                .active a{
                    color: #fff;                        
                }
            }
        }
    }
}
/****/
aside {
    position: fixed;
    height:calc(100vh - 200px);
    top: 0;
    transform: translateY(50%);
    right: 10px;
    padding: 0px 10px;
    z-index: 55;
    display:flex;
    flex-direction: column;
    gap:40px;
    a {
    color: transparent;
    font-size: calc(var(--width) * 0.5);
    line-height: 35px;
    text-decoration: none;
    height:25px;
    width:110px;
    animation: all ease-in .5s;
    -webkit-animation: all ease-in .5s;
    &::before{
        background:url(/static/hcau/img/aside.svg) no-repeat;
        content:"";
        position:absolute;
        left:-20px;
        margin-top:8px;
        margin-right:8px;
        width:18px;
        height:18px;
        // border: 2px solid red;
    }
    &:hover {
        color:#fff;
    }
    &.active {
        color: #fff;
        &::before{
            background:url(/static/hcau/img/aside_on.svg) no-repeat;
            content:"";
            position:absolute;
            left:-20px;
            margin-top:8px;
            margin-right:8px;
            width:18px;
            height:18px;
            // border: 2px solid red;
            }
        }

    }
}
.btn-guide-arrow {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    left: 50%;
    width: 90px;
    height: 26px;
    background: transparent;
    border:0;    
   -webkit-animation: arrow-down infinite 1.5s;
   animation: arrow-down infinite 1.5s;
}



@-webkit-keyframes arrow-down {
    0% {        -webkit-transform: translate3d(0, 0, 0);        transform: translate3d(0, 0, 0)   ;opacity:1;  }
    30% {        -webkit-transform: translate3d(0, 50%, 0);        transform: translate3d(0, 50%, 0)  ;opacity: .5;  }
    60% {        -webkit-transform: translate3d(0, 0, 0);        transform: translate3d(0, 0, 0)  }
}
@keyframes arrow-down {
    0% {        -webkit-transform: translate3d(0, 0, 0);        transform: translate3d(0, 0, 0)   ;opacity: 1;  }
    30% {        -webkit-transform: translate3d(0, 50%, 0);        transform: translate3d(0, 50%, 0)   ;opacity: .5;  }
    60% {        -webkit-transform: translate3d(0, 0, 0);        transform: translate3d(0, 0, 0)     }
}


.hero-section{
    position: relative;
    &__gap{
        margin-top:calc(var(--gallery-gap) * 8);
    }
}
.hero {
	width: calc(var(--index) * 100); 
	max-width:100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.container {
	padding: 0 7vw;
    &__hero{
        padding:calc(var(--index)*8) 0;
        max-width:100%;
        position:relative;
        .bg{
            width: calc(var(--index) * 100); 
            max-width:100%;            
            z-index: -1;
        }
        .gallery{
            padding:0;
            
        }
    }
    
    .main-header { 
        height: 100vh; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:relative;
        gap:60px;
        .main-title {
                font-size: calc(var(--width) * 2.5);
                font-family:var(--HYBold);
                text-transform: uppercase;
        }
        .sub-title{
            font-size: calc(var(--index) * 0.68);
            display: flex;
            justify-content: center;
            font-family:var(--HYReg);
            text-align: center;
            
        }
    }
    
   
}



 //footer
.HCAU-footer {
    width: 100%;
    min-width:1440px;
    // max-width:1440px;
    height:280px;
    background: #111;
    color: #697279;
    .border-bottom{border-bottom:1px solid #222 !important;}
    .footer-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1280px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .HCAU-btn.dropdown-toggle{
            background: #222;border: 0;color:#666;min-width: 260px;
            &:after{color:#000;transform:rotate(180deg);transition: all 0.3s ease-out;}
            &.show::after{ transform:rotate(0deg);}
            }
        .copyright{
        line-height: 28px;
        //text-transform: uppercase;
        color:#666;
        font-size:14px
        
            }
        .sns{
            display: flex;
            gap: 16px;
            justify-content: center;
            align-items: center;
            }
        .email a,.call a,.policy a{color:#666;font-size:14px;margin-left:2px;font-weight: 700;}
        .email+.call{margin-left:25px}
    }
    //HCAU-cs
    .HCAU-cs {            
        .contact-us {
            line-height: 1;
            display: flex;
            div {
                display: flex;
                align-items: center;
                gap: 12px;                    
                    a {
                        color: rgba(255,255,255.6)
                    }                   
            }
        }
        .family-site {
            margin-top: 20px;
            background:#222 ;
            .dropdown-toggle::after {
                transform: rotate(180deg);
            }
        }
    }
}

/***/
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
    
    position: relative;
    & > *{flex: 1; display: flex; align-items: center; }
    &__item {
        max-width: calc(var(--index) * 21);
        margin-bottom: var(--gallery-gap);
        max-height: 180vh;
    }
    &__left {
        margin-top: calc(var(--gallery-gap) * 1.75);
    }
    &__right {
        .gallery__item {
            margin: 0;
            margin-top: var(--gallery-gap);
        }
    }
    &__center{
        display: flex;
        flex-direction: column;
        .text-block__h.text-uppercase{
            position:absolute;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:var(--gallery-gap);
        }
        .gallery__item{
            margin: 0;
            margin-top: var(--gallery-gap);
        }
        .gallery__box{
            margin:0;
            margin-top: calc(-var(--gallery-gap) * .3);
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .gallery__bg{
            margin: -390px calc(var(--index) * 2);
            background: rgba(0,0,0,.2) ;
            backdrop-filter: blur(10px) saturate(150%);
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap:120px;
                p{
                    margin-top: calc(var(--index) * 2) ;
                    padding: calc(var(--index) * 2) ;
                    font-size: calc(var(--index) * 0.55);
                    text-align: center;
                }
                button{
                    width: calc(var(--index) * 5);
                    height: calc(var(--index) * 2);
                    min-height:68px;
                    span{
                    color:var(--bs-black);
                    font-family: var(--HYBold);
                    font-size:calc(var(--index) * 0.55);
                    }

                }
                
            }
            
        }
    }


.text-block {
	color: var(--color-text);
	position: relative;
    &__h {
        font-size:2rem; /*2rem*/;
        line-height: calc(var(--index) * 0.55);/*2.4rem*/;
        color: var(--color-header);
        margin-bottom: calc(var(--index) * 0.55);/*1.5rem*/;
    }
    &__p {
        line-height: 1.75;
    }
}
