@charset "UTF-8";
@import url("bootstrap.min.css");
/*hcau-common*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
/* font setting */
@font-face {
  font-family: "HYRegular";
  src: url("../fonts/Youandi_Modern_TextRegular.eot");
  src: local("※"), url("../fonts/Youandi_Modern_TextRegular.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HYBold";
  src: url("../fonts/Youandi_Modern_TextBold.eot");
  src: local("※"), url("../fonts/Youandi_Modern_TextBold.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HYExtraBold";
  src: url("../fonts/Youandi_Modern_HeadExtraBold.eot");
  src: local("※"), url("../fonts/Youandi_Modern_HeadExtraBold.woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

/* will-change */
.content, .hero, .main-header, .gallery > * {
  will-change: transform;
}

html {
  position: relative;
}

html, body {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.25;
  font-size: 0.96825rem;
}

body {
  font-family: "HYRegular";
  color: #000000;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

body, div, section, dl, ul, ol, li, dt, dd, blockquote, p, span {
  font-family: "HYRegular", AppleGothicNeoSD, "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Malgun Gothic", Dotum, "돋움", "굴림", arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

pre, xmp, plaintext, listing, samp, kbd, code, figure, figcaption {
  margin: 0;
}

iframe {
  border: none;
}

iframe[src*="insight.adsrvr.org/tags"] {
  display: none;
}

img {
  vertical-align: top;
}

strong, b {
  font-weight: 700;
}

pre {
  white-space: pre-wrap;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

table {
  width: 100%;
}

caption {
  left: -10000px;
  top: auto;
  height: 0;
  overflow: hidden;
}

button:focus, a:focus, a:active, button::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, select::-moz-focus-inner, input[type=file] > input[type=button]::-moz-focus-inner {
  outline: none;
  box-shadow: 0 0 3px 0px none;
  position: relative;
}

select:-moz-focusring {
  color: rgba(0, 0, 0, 0);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

:root {
  --index: calc(1vw + 1vh);
  --width: calc(1vw);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --white: #fff;
  --gallery-gap: calc(var(--index) * 3.5);
  --w100p: 100px;
  --HYReg: "HYRegular";
  --HYBold: "HYExtraBold";
}

body {
  background: #000;
  color: #fafafa;
  font-family: var(--HYReg);
  overflow-x: hidden;
}

#parallax__nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: var(--bs-black);
  padding: 20px;
  width: 100%;
}
#parallax__nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
#parallax__nav div h1 {
  display: block;
}
#parallax__nav div ul li {
  padding-left: 40px;
  list-style: none;
  display: inline;
}
#parallax__nav div ul li a {
  display: inline-block;
  color: #999;
  transition: all 0.3s;
  text-decoration: none;
  font-family: var(--HYBold);
}
#parallax__nav div ul li .active a {
  color: #fff;
}

/****/
aside {
  position: fixed;
  height: calc(100vh - 200px);
  top: 0;
  transform: translateY(50%);
  right: 10px;
  padding: 0px 10px;
  z-index: 55;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
aside a {
  color: transparent;
  font-size: calc(var(--width) * 0.5);
  line-height: 35px;
  text-decoration: none;
  height: 25px;
  width: 110px;
  animation: all ease-in 0.5s;
  -webkit-animation: all ease-in 0.5s;
}
aside a::before {
  background: url(/static/hcau/img/aside.svg) no-repeat;
  content: "";
  position: absolute;
  left: -20px;
  margin-top: 8px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
}
aside a:hover {
  color: #fff;
}
aside a.active {
  color: #fff;
}
aside a.active::before {
  background: url(/static/hcau/img/aside_on.svg) no-repeat;
  content: "";
  position: absolute;
  left: -20px;
  margin-top: 8px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
}

.btn-guide-arrow {
  position: absolute;
  z-index: 1;
  bottom: 8%;
  left: 50%;
  width: 90px;
  height: 26px;
  background: transparent;
  border: 0;
  -webkit-animation: arrow-down infinite 1.5s;
  animation: arrow-down infinite 1.5s;
}

@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes arrow-down {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.hero-section {
  position: relative;
}
.hero-section__gap {
  margin-top: calc(var(--gallery-gap) * 8);
}

.hero {
  width: calc(var(--index) * 100);
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.container {
  padding: 0 7vw;
}
.container__hero {
  padding: calc(var(--index) * 8) 0;
  max-width: 100%;
  position: relative;
}
.container__hero .bg {
  width: calc(var(--index) * 100);
  max-width: 100%;
  z-index: -1;
}
.container__hero .gallery {
  padding: 0;
}
.container .main-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 60px;
}
.container .main-header .main-title {
  font-size: calc(var(--width) * 2.5);
  font-family: var(--HYBold);
  text-transform: uppercase;
}
.container .main-header .sub-title {
  font-size: calc(var(--index) * 0.68);
  display: flex;
  justify-content: center;
  font-family: var(--HYReg);
  text-align: center;
}

.HCAU-footer {
  width: 100%;
  min-width: 1440px;
  height: 280px;
  background: #111;
  color: #697279;
}
.HCAU-footer .border-bottom {
  border-bottom: 1px solid #222 !important;
}
.HCAU-footer .footer-inner {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HCAU-footer .footer-inner .HCAU-btn.dropdown-toggle {
  background: #222;
  border: 0;
  color: #666;
  min-width: 260px;
}
.HCAU-footer .footer-inner .HCAU-btn.dropdown-toggle:after {
  color: #000;
  transform: rotate(180deg);
  transition: all 0.3s ease-out;
}
.HCAU-footer .footer-inner .HCAU-btn.dropdown-toggle.show::after {
  transform: rotate(0deg);
}
.HCAU-footer .footer-inner .copyright {
  line-height: 28px;
  color: #666;
  font-size: 14px;
}
.HCAU-footer .footer-inner .sns {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.HCAU-footer .footer-inner .email a, .HCAU-footer .footer-inner .call a, .HCAU-footer .footer-inner .policy a {
  color: #666;
  font-size: 14px;
  margin-left: 2px;
  font-weight: 700;
}
.HCAU-footer .footer-inner .email + .call {
  margin-left: 25px;
}
.HCAU-footer .HCAU-cs .contact-us {
  line-height: 1;
  display: flex;
}
.HCAU-footer .HCAU-cs .contact-us div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.HCAU-footer .HCAU-cs .contact-us div a {
  color: rgb(255, 255, 255);
}
.HCAU-footer .HCAU-cs .family-site {
  margin-top: 20px;
  background: #222;
}
.HCAU-footer .HCAU-cs .family-site .dropdown-toggle::after {
  transform: rotate(180deg);
}

/***/
.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
  position: relative;
}
.gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
}
.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
}
.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--gallery-gap);
}
.gallery__center {
  display: flex;
  flex-direction: column;
}
.gallery__center .text-block__h.text-uppercase {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--gallery-gap);
}
.gallery__center .gallery__item {
  margin: 0;
  margin-top: var(--gallery-gap);
}
.gallery__center .gallery__box {
  margin: 0;
  margin-top: calc(-var(--gallery-gap) * 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery__center .gallery__bg {
  margin: -390px calc(var(--index) * 2);
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px) saturate(150%);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 120px;
}
.gallery__center .gallery__bg p {
  margin-top: calc(var(--index) * 2);
  padding: calc(var(--index) * 2);
  font-size: calc(var(--index) * 0.55);
  text-align: center;
}
.gallery__center .gallery__bg button {
  width: calc(var(--index) * 5);
  height: calc(var(--index) * 2);
  min-height: 68px;
}
.gallery__center .gallery__bg button span {
  color: var(--bs-black);
  font-family: var(--HYBold);
  font-size: calc(var(--index) * 0.55);
}

.text-block {
  color: var(--color-text);
  position: relative;
}
.text-block__h {
  font-size: 2rem; /*2rem*/
  line-height: calc(var(--index) * 0.55); /*2.4rem*/
  color: var(--color-header);
  margin-bottom: calc(var(--index) * 0.55); /*1.5rem*/
}
.text-block__p {
  line-height: 1.75;
}/*# sourceMappingURL=HCAU-style.css.map */