
<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,  user-scalable=no">
<title>Title -Text :: PC 퍼블리싱 가이드</title>
<script type="text/javascript" src="/docfiles/publish/resources/pc/js/libs/jquery-1.12.4.min.js"></script>
<script src="/docfiles/publish/resources/pc/html/guide/js/ia.js"></script>
<script type="text/javascript" src="/docfiles/publish/resources/pc/js/libs/jquery-ui.js"></script>
<script type="text/javascript" src="/docfiles/publish/resources/pc/js/libs/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/docfiles/publish/resources/pc/js/libs/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/docfiles/publish/resources/pc/js/commonUi.js"></script>

<!-- 프론트 화면 -->
<link rel="stylesheet" type="text/css" href="/docfiles/publish/resources/pc/css/reset.css">
<link rel="stylesheet" type="text/css" href="/docfiles/publish/resources/pc/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" type="text/css" href="/docfiles/publish/resources/pc/css/common.css">
<link rel="stylesheet" type="text/css" href="/docfiles/publish/resources/pc/css/layout.css">
<link rel="stylesheet" type="text/css" href="/docfiles/publish/resources/pc/html/guide/css/common_guide.css">
</head>

<body>

<header>
</header><!-- header -->
<div id="ia-wrap">
	<div id="ia-container">
		<div id="ia-content">
			<div class="ia-content-header">
				<div class="ia-in-sec">
					<h1 class="ia-h1">PC 퍼블리싱 가이드</h1>
					<div class="ia-guideLink">
						
						<button type="button" onclick="window.open('/docfiles/publish/resources/pc/html/guide/list/common_list.html')">화면리스트</button>
					</div>
				</div>
			</div><!-- // ia-content-header -->
			
			<div class="ia-content-body">
				<div class="tab">
					
				</div><!-- // guide_tab -->
				
				<div class="txt_caution">
					<h3 class="h0_eb_lt_size48">Title/Text</h3>
				</div>
				<!-- s: 공통 -->
				<section class="ia-section">
                    <h4 class="h2_eb">Title</h4>
					<p>SF(시스템) 폰트 : Bold - 700, Medium - 500</p>
					<p>YouandiNewKr 폰트: EB - 600, TB - 500, Medium - 400</p>
					<p>모두 letter-spacing:0;</p>
					<p class="fc_m_alert">단 h1_b, h1_m은 letter-space:-0.2px 입니다. <span class="fc_m_blk">(HDS_PC 참고)</span></p>
					<section>
						<div>							
							H0, 루트명, 굵기, 정렬, 폰트사이즈(55)<br>
							<p class="h0_eb_lt_size55">h0_eb_lt_size55</p>
							<p class="h0_eb_ctr_size55">h0_eb_ctr_size55</p>
							<p class="h0_eb_rt_size55">h0_eb_rt_size55</p>
							<p class="h0_b_lt_size55">h0_b_lt_size55</p>
							<p class="h0_b_ctr_size55">h0_b_ctr_size55</p>
							<p class="h0_b_rt_size55">h0_b_rt_size55</p>
						</div>
						<div>							
							H0, 루트명, 굵기, 정렬, 폰트사이즈(48)<br>
							<p class="h0_eb_lt_size48">h0_eb_lt_size48</p>
							<p class="h0_eb_ctr_size48">h0_eb_ctr_size48</p>
							<p class="h0_eb_rt_size48">h0_eb_rt_size48</p>
							<p class="h0_b_lt_size48">h0_b_lt_size48</p>
							<p class="h0_b_ctr_size48">h0_b_ctr_size48</p>
							<p class="h0_b_rt_size48">h0_b_rt_size48</p>
						</div>
						<div>							
							H0, 루트명, 굵기, 정렬, 폰트사이즈(40)<br>
							<p class="h0_eb_lt_size40">h0_eb_lt_size40</p>
							<p class="h0_eb_ctr_size40">h0_eb_ctr_size40</p>
							<p class="h0_eb_rt_size40">h0_eb_rt_size40</p>
							<p class="h0_b_lt_size40">h0_b_lt_size40</p>
							<p class="h0_b_ctr_size40">h0_b_ctr_size40</p>
							<p class="h0_b_rt_size40">h0_b_rt_size40</p>
						</div>
					</section>
					<section>
						<div>							
							h1, 루트명, 굵기, 정렬, 폰트사이즈(34)<br>
							<h1 class="h1_eb_lt">h1_eb_lt</h1>
							<h1 class="h1_eb_ctr">h1_eb_ctr</h1>
							<h1 class="h1_eb_rt">h1_eb_rt</h1>
							<h1 class="h1_tb_lt">h1_tb_lt</h1>
							<h1 class="h1_tb_ctr">h1_tb_ctr</h1>
							<h1 class="h1_tb_rt">h1_tb_rt</h1>
							<h1 class="h1_b_lt">h1_b_lt</h1>
							<h1 class="h1_b_ctr">h1_b_ctr</h1>
							<h1 class="h1_b_rt">h1_b_rt</h1>
							<h1 class="h1_m_lt">h1_m_lt</h1>
							<h1 class="h1_m_ctr">h1_m_ctr</h1>
							<h1 class="h1_m_rt">h1_m_rt</h1>
						</div>
					</section>
					<section>
						<div>							
							h2, 루트명, 굵기, 정렬, 폰트사이즈(34)<br>
							<h2 class="h2_eb_lt">h2_eb_lt</h2>
							<h2 class="h2_eb_ctr">h2_eb_ctr</h2>
							<h2 class="h2_eb_rt">h2_eb_rt</h2>
							<h2 class="h2_tb_lt">h2_tb_lt</h2>
							<h2 class="h2_tb_ctr">h2_tb_ctr</h2>
							<h2 class="h2_tb_rt">h2_tb_rt</h2>
							<h2 class="h2_b_lt">h2_b_lt</h2>
							<h2 class="h2_b_ctr">h2_b_ctr</h2>
							<h2 class="h2_b_rt">h2_b_rt</h2>
							<h2 class="h2_m_lt">h2_m_lt</h2>
							<h2 class="h2_m_ctr">h2_m_ctr</h2>
							<h2 class="h2_m_rt">h2_m_rt</h2>
						</div>
					</section>
					<section>
						<div>							
							h3, 루트명, 굵기, 정렬, 폰트사이즈(34)<br>
							<h3 class="h3_eb_lt">h3_eb_lt</h3>
							<h3 class="h3_eb_ctr">h3_eb_ctr</h3>
							<h3 class="h3_eb_rt">h3_eb_rt</h3>
							<h3 class="h3_tb_lt">h3_tb_lt</h3>
							<h3 class="h3_tb_ctr">h3_tb_ctr</h3>
							<h3 class="h3_tb_rt">h3_tb_rt</h3>
							<h3 class="h3_b_lt">h3_b_lt</h3>
							<h3 class="h3_b_ctr">h3_b_ctr</h3>
							<h3 class="h3_b_rt">h3_b_rt</h3>
							<h3 class="h3_m_lt">h3_m_lt</h3>
							<h3 class="h3_m_ctr">h3_m_ctr</h3>
							<h3 class="h3_m_rt">h3_m_rt</h3>
						</div>
					</section>
					<section>
						
						<div>							
							h4, 루트명, 굵기, 정렬, 폰트사이즈(34)<br>
							<h4 class="h4_b_lt">h4_b_lt</h4>
							<h4 class="h4_b_ctr">h4_b_ctr</h4>
							<h4 class="h4_b_rt">h4_b_rt</h4>
							<h4 class="h4_m_lt">h4_m_lt</h4>
							<h4 class="h4_m_ctr">h4_m_ctr</h4>
							<h4 class="h4_m_rt">h4_m_rt</h4>
						</div>
					</section>
				</section><!-- // ia-content-body -->		
                
                <section class="ia-section">
                    <h4 class="h2_eb">Text</h4>
					<p>SF(시스템) 폰트 : Bold - 700, Medium - 500</p>
					<p>모두 letter-spacing:0;</p>
					<section>
						<div>
							p0, 루트명, 굵기, 정렬, 줄라인(1,2)<br>
							<p class="p0_m_lt_1ln">p0_m_lt_1ln</p>
							<p class="p0_m_ctr_1ln">p0_m_ctr_1ln</p>
							<p class="p0_m_rt_1ln">p0_m_rt_1ln</p>
							<p class="p0_m_lt_2ln">p0_m_lt_2ln<br>2번째라인</p>
							<p class="p0_m_ctr_2ln">p0_m_ctr_2ln<br>2번째라인</p>
							<p class="p0_m_rt_2ln">p0_m_rt_2ln<br>2번째라인</p>
						</div>
					</section>
					<section>
						<div>
							p1, 루트명, 굵기, 정렬, 줄라인(1,2)<br>
							<p class="p1_b_lt_1ln"><span></span>p1_b_lt_1ln</p>
							<p class="p1_b_ctr_1ln">p1_b_ctr_1ln</p>
							<p class="p1_b_rt_1ln">p1_b_rt_1ln</p>
							<p class="p1_b_lt_2ln">p1_b_lt_2ln<br>2번째라인</p>
							<p class="p1_b_ctr_2ln">p1_b_ctr_2ln<br>2번째라인</p>
							<p class="p1_b_rt_2ln">p1_b_rt_2ln<br>2번째라인</p>
							<p class="p1_m_lt_1ln">p1_m_lt_1ln</p>
							<p class="p1_m_ctr_1ln">p1_m_ctr_1ln</p>
							<p class="p1_m_rt_1ln">p1_m_rt_1ln</p>
							<p class="p1_m_lt_2ln">p1_m_lt_2ln<br>2번째라인</p>
							<p class="p1_m_ctr_2ln">p1_m_ctr_2ln<br>2번째라인</p>
							<p class="p1_m_rt_2ln">p1_m_rt_2ln<br>2번째라인</p>
						</div>
					</section>
					<section>
						<div>
							p2, 루트명, 굵기, 정렬, 줄라인(1,2)<br>
							<p class="p2_eb_lt_2ln">p2_eb_lt_2ln<br>2번째라인</p>
							<p class="p2_eb_ctr_2ln">p2_eb_ctr_2ln<br>2번째라인</p>
							<p class="p2_eb_rt_2ln">p2_eb_rt_2ln<br>2번째라인</p>
							<p class="p2_tb_lt_2ln">p2_tb_lt_2ln<br>2번째라인</p>
							<p class="p2_tb_ctr_2ln">p2_tb_ctr_2ln<br>2번째라인</p>
							<p class="p2_tb_rt_2ln">p2_tb_rt_2ln<br>2번째라인</p>
							<p class="p2_b_lt_2ln">p2_b_lt_2ln<br>2번째라인</p>
							<p class="p2_b_ctr_2ln">p2_b_ctr_2ln<br>2번째라인</p>
							<p class="p2_b_rt_2ln">p2_b_rt_2ln<br>2번째라인</p>
							<p class="p2_m_lt_2ln">p2_m_lt_2ln<br>2번째라인</p>
							<p class="p2_m_ctr_2ln">p2_m_ctr_2ln<br>2번째라인</p>
							<p class="p2_m_rt_2ln">p2_m_rt_2ln<br>2번째라인</p>
						</div>
					</section>
					<section>
						<div>
							p3, 루트명, 굵기, 정렬, 줄라인(1,2)<br>
							<p class="p3_eb_lt_2ln">p3_eb_lt_2ln<br>2번째라인</p>
							<p class="p3_eb_ctr_2ln">p3_eb_ctr_2ln<br>2번째라인</p>
							<p class="p3_eb_rt_2ln">p3_eb_rt_2ln<br>2번째라인</p>
							<p class="p3_tb_lt_2ln">p3_tb_lt_2ln<br>2번째라인</p>
							<p class="p3_tb_ctr_2ln">p3_tb_ctr_2ln<br>2번째라인</p>
							<p class="p3_tb_rt_2ln">p3_tb_rt_2ln<br>2번째라인</p>
							<p class="p3_b_lt_2ln">p3_b_lt_2ln<br>2번째라인</p>
							<p class="p3_b_ctr_2ln">p3_b_ctr_2ln<br>2번째라인</p>
							<p class="p3_b_rt_2ln">p3_b_rt_2ln<br>2번째라인</p>
							<p class="p3_m_lt_2ln">p3_m_lt_2ln<br>2번째라인</p>
							<p class="p3_m_ctr_2ln">p3_m_ctr_2ln<br>2번째라인</p>
							<p class="p3_m_rt_2ln">p3_m_rt_2ln<br>2번째라인</p>
						</div>
					</section>
					<section>
						<div>
							pay_, 루트명, 굵기, 정렬, 글자크기<br>
							<p class="pay_btyu"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_bt"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h0yu"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h1"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h1yu"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h2"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h3"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h4"><strong class="won">123,122</strong><span class="txt">원</span></p>
						</div>
					</section>
					<section>
						<div>
							pay_, 루트명, 굵기, 정렬, 글자크기, 우측정렬<br>
							<p class="pay_btyu_rt"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_bt_rt"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h0_rt"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h0yu_rt"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h1_rt"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h1yu_rt"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h2_rt"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h3_rt"><strong class="won">123,122</strong><span class="txt">원</span></p>
							<p class="pay_h4_rt"><strong class="won">123,122</strong><span class="txt">원</span></p>
						</div>
					</section>
					<section>
						<div>
							text effect : <br>striketh_, 루트명, 굵기, 정렬, 좌우측정렬<br>
							<p class="striketh_p2_rt">123,122원</p>
							<p class="striketh_p1_lt">123,122원</p>
							<p class="striketh_p1_rt">123,122원</p>
							<p class="striketh_p1b_lt">123,122원</p>
							<p class="striketh_p1b_rt">123,122원</p>
							<p class="striketh_h4b_lt">123,122원</p>
							<p class="striketh_h4b_rt">123,122원</p>
						</div>
						<div>
							text effect : <br>highlight, 텍스트 강조가 필요할 경우 하이라이터 적용 텍스트 위8px, 아래2px<br>
							<h4 class="h4_b_lt highlight">Type something</h4>
							<p class="p1_b_lt_1ln highlight">Type something</p>
							<p class="p2_b_lt_1ln highlight">Type something</p>
						</div>
						<div>
							text effect : <br>txt_underline, 텍스트 링크<br>
							<p class="p1_m_lt_1ln"><a href="javascript:;" class="txt_underline">Link</a></p>
						</div>
					</section>
					<section>
						<div>
							<p style="margin-top:20px;">bul 텍스트 타입01 [ class="bul_txt" ]</p>
							<p class="bul_txt">bul 블릿 텍스트</p>

							<p style="margin-top:20px;">bul 텍스트 타입02 [ class="bul_txt02" ]</p>
							<p class="bul_txt02">bul 블릿 텍스트</p>

							<!-- <p style="margin-top:20px;">bul 텍스트 타입03 [ class="bul_txt03" ]</p>
							<p class="bul_txt03">bul 텍스트</p> -->

							<p style="margin-top:20px;">bul 리스트 타입01 [ class="bul_list" ]</p>
							<ul class="bul_list">
								<li>bul 리스트 타입01</li>
								<li>bul 리스트 타입01</li>
							</ul>

							<p style="margin-top:20px;">bul 리스트 타입02 [ class="bul_list02" ]</p>
							<ul class="bul_list02">
								<li>bul 리스트 타입02</li>
								<li>bul 리스트 타입02</li>
							</ul>

							<p style="margin-top:20px;">bul 리스트 타입03 [ class="bul_list03" ]</p>
							<ul class="bul_list03">
								<li>bul 리스트 타입03</li>
								<li>bul 리스트 타입03</li>
							</ul>
						</div>
					</section>

					<section>
						<div>
							<p style="margin-top:20px;">dash 텍스트 타입01 [ class="dash_txt" ]</p>
							<p class="dash_txt">dash 블릿 텍스트</p>

							<p style="margin-top:20px;">dash 텍스트 타입02 [ class="dash_txt02" ]</p>
							<p class="dash_txt02">dash 블릿 텍스트</p>

							<!-- <p style="margin-top:20px;">dash 텍스트 타입03 [ class="dash_txt03" ]</p>
							<p class="dash_txt03">dash 텍스트</p> -->

							<p style="margin-top:20px;">dash 리스트 타입01 [ class="dash_list" ]</p>
							<ul class="dash_list">
								<li>dash 리스트 타입01</li>
								<li>dash 리스트 타입01</li>
							</ul>

							<p style="margin-top:20px;">dash 리스트 타입02 [ class="dash_list02" ]</p>
							<ul class="dash_list02">
								<li>dash 리스트 타입02</li>
								<li>dash 리스트 타입02</li>
							</ul>

							<p style="margin-top:20px;">블릿 리스트 타입03 [ class="dash_list03" ]</p>
							<ul class="dash_list03">
								<li>dash 리스트 타입03</li>
								<li>dash 리스트 타입03</li>
							</ul>
						</div>
					</section>

				</section>
				<!-- e: 공통 -->
			</div><!-- // ia-content-body -->
			
		</div><!-- // ia-content -->
		
	</div><!-- // ia-container -->
</div><!-- // ia-wrap -->
<footer>
</footer><!-- // footer -->

</body>
</html>