@charset "UTF-8";
/* 최근 본 제품 플로팅 메뉴 */
.floatingStyle {
  display: block;
  position: fixed;
  top: auto;
  left: auto;
  right: -700px;
  max-width: 500px;
  width: 100%;
  padding: 50px;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #ddd;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: right .3s;
  transition: right .3s;
  z-index: 100;
}

.floatingStyle.active {
  right: 40px;
}

@media screen and (max-width: 767px) {
  .floatingStyle {
    display: none;
    top: 0;
    right: auto;
    left: 0;
    border-radius: 0;
    -webkit-transition: none;
    transition: none;
    width: 100%;
    padding: 11px 12px 24px;
  }
  .floatingStyle.active {
    display: block;
  }
}

.floatingStyle .layer-content {
  max-height: calc(100vh - 180px);
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  /* 스크롤과 컨텐츠 사이의 여백(스크롤 노출되는 ie 대응) */
}

.floatingStyle .layer-content .wrap-scroll {
  padding-right: 20px;
}

.floatingStyle input:not([type=checkbox]):not([type=radio]).inp-line {
  padding: inherit;
}

.floatingStyle .btn-box {
  margin-top: 0;
  padding-top: 40px;
  font-size: 0;
}

.floatingStyle .btn-box .btn {
  margin: 0;
}

.floatingStyle .btn-box .btn ~ .btn {
  margin-left: 10px;
}

.floatingStyle .pop-close {
  position: absolute;
  right: 30px;
  top: 55px;
  left: auto;
  bottom: auto;
  border: 0;
  width: 24px;
  height: 26px;
  background: url("/sec/static/evt/_images/common/icon-floating-right.svg") no-repeat 50% 50%;
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .floatingStyle .pop-close {
    width: 36px;
    height: 36px;
    top: 27px;
    right: 4px;
    background: url("/sec/static/evt/_images/common/icon-close.svg") no-repeat 50% 50%;
  }
}

.floatingStyle .LatestItm-result {
  position: relative;
  margin: -20px 0 20px;
}

@media screen and (max-width: 767px) {
  .floatingStyle .LatestItm-result {
    margin: -12px 0 20px;
  }
}

.floatingStyle .LatestItm-result .result-tit {
  font-size: 14px;
  color: #000;
  line-height: 28px;
  text-align: left;
}

.floatingStyle .LatestItm-result .result-tit span {
  font-size: inherit;
  color: inherit;
}

.floatingStyle .LatestItm-result .result-tit strong {
  display: inline-block;
  padding-left: 9px;
  color: #2189FF;
  font-size: inherit;
  vertical-align: top;
}

.floatingStyle .LatestItm-result .btn-allListClear {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  height: 28px;
  font-size: 14px;
  color: #000;
  line-height: 26px;
  font-weight: bold;
}

.floatingStyle .caution-note {
  padding-top: 13px;
  text-align: left;
  font-size: 12px;
  color: #707070;
  line-height: 14px;
}

.floatingStyle .LatestItmList ul {
  max-height: 500px;
}

.floatingStyle .LatestItmList li {
  position: relative;
  min-height: 90px;
  padding: 14px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
}

.floatingStyle .LatestItmList li a {
  display: block;
}

.floatingStyle .LatestItmList .LatestItm-img {
  position: absolute;
  left: 0;
  top: 12px;
  width: 60px;
  height: 60px;
}

.floatingStyle .LatestItmList .LatestItm-data {
  position: relative;
  margin-left: 94px;
}

.floatingStyle .LatestItmList .LatestItm-data .LatestItm-name {
  margin-bottom: 2px;
  margin-right: 20px;
  font-size: 14px;
  color: #000;
  line-height: 21px;
  font-weight: bold;
}

.floatingStyle .LatestItmList .LatestItm-data .LatestItm-code {
  margin-top: 5px;
  font-size: 12px;
  color: #707070;
  line-height: 14px;
}

.floatingStyle .LatestItmList .LatestItm-data .LatestItm-price {
  margin-top: 14px;
  font-size: 14px;
  color: #000;
  line-height: 17px;
}

.floatingStyle .LatestItmList .LatestItm-data .LatestItm-price span {
  font-size: 12px;
  color: #707070;
  vertical-align: top;
  padding-right: 11px;
}

.floatingStyle .LatestItmList .LatestItm-data .LatestItm-price strong {
  font-size: 14px;
  color: #000;
  vertical-align: top;
}

.floatingStyle .LatestItmList .LatestItm-data .btn-list-delete {
  position: absolute;
  top: 3px;
  right: 0;
  width: 16px;
  height: 16px;
  background: url(/sec/static/evt/_images/common/icon-delete-circle2.svg) no-repeat;
}
/*# sourceMappingURL=content_sk.css.map */