@charset "utf-8";

.gc_category .contents_box .hscroll li .cate_item .visual_item {padding:5px;}
.gc_category .contents_box .hscroll li .cate_item .tit_item { margin-top:10px; font-size:16px; line-height:24px; text-align:center; }

.unified-search-layer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; top: 60px; left: 50%; right: auto; margin: 0; width: 100%; }
	.unified-search-layer .unified-search-layer-inner { border-radius: 0; border: 0; }
	.unified-search-layer .tit { padding-bottom: 8px; }
	.unified-search-layer.type-keyword .layer-head { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 10px 14px 0; }
	.unified-search-layer.type-keyword .layer-head .btn-menu { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; margin: 0 10px; padding: 8px 0; font-size: 14px; line-height: 18px; text-align: center; font-weight: bold; color: #999; border-bottom: 1px solid #D9D9D9; }
	.unified-search-layer.type-keyword .layer-head .btn-menu[aria-selected="true"] { color: #000; border-color: #2188FF; }
	.unified-search-layer.type-keyword .layer-cont { padding: 20px 12px 13px; height: 100%; overflow-y: auto; }
	.unified-search-layer.type-keyword .layer-cont .cont-inner { width: calc(100% / 2 - 12px); }
	.unified-search-layer.type-keyword .layer-cont .cont-inner.box-popular .list .link { padding: 9px 0 8px 10px; }
	.unified-search-layer.type-keyword .layer-cont .cont-inner.box-recent { margin-right: 24px; }
	.unified-search-layer.type-keyword .layer-cont .etc { margin: auto -12px 0; padding: 12px 12px 0; }
	.unified-search-layer.type-keyword .layer-cont .etc .date, .unified-search-layer.type-keyword .layer-cont .etc .btn-delete { font-size: 14px; line-height: 14px; }
	.unified-search-layer.type-auto .layer-head .link { font-size: 14px; }
	.unified-search-layer.type-auto .layer-cont { padding: 12px; }
	.unified-search-layer.type-auto .layer-cont .link { padding: 9px 5px 8px 0; font-size: 16px; }
	.unified-search-layer.type-auto .date { color: #000; }

	/* Samsung NOW */
.gc_now_list { margin-top:60px; }
.gc_now_list .gc_now_inner { max-width:1440px; width:100%; padding:0 24px; margin:0 auto; }
.gc_now_list .title_box { position:relative; }
.gc_now_list .title_box .now_title { font-size:51px; font-weight:700; }
.gc_now_list .title_box .now_desc { margin-top:12px; font-size:16px; line-height:24px; }
.gc_now_list .title_box .btn_now_more { position:absolute; right:0; bottom:0; }
.gc_now_list .title_box .btn_now_more p { color:#707070; font-size:16px; line-height:1.5; } 
.gc_now_list .title_box .btn_now_more p::after{ content:''; display: inline-block; width:4px; height:8px; margin-left:4px; background:url('/sec/static/evt/_images/new/icons/icon-now-more.svg') center center no-repeat; vertical-align:middle; }
.gc_now_list .contents_box { margin-top:40px; }
.gc_now_list .content_list { display:flex; flex-wrap:wrap; justify-content:space-between; gap:24px 0; }
.gc_now_list .content_list_item { position:relative; }
.gc_now_list .now_visual { overflow:hidden; position:relative; width:448px; height:448px; border-radius:15px; }
.gc_now_list .now_visual img { width:100%; }
.gc_now_list .now_text { position:absolute; bottom:0; box-sizing:border-box; padding:30px; color:#fff; }
.gc_now_list .now_text .sub { margin-bottom:6px; font-size:16px; }
.gc_now_list .now_text .title { overflow:hidden; font-size:24px; font-weight:700; line-height:26px; white-space:nowrap; text-overflow:ellipsis; }
.top-opt-detail-area .opt-detail-inner .box-droplist {
	width: auto;
	padding-right: 2.1818vw;
	text-align: right;
}

.top-opt-detail-area .opt-detail-inner .box-droplist .sort-droplist {
	position: relative;
	top: 1.3636vw;
	display: inline-block;
	width: 13.6364vw;
}

.top-opt-detail-area .opt-detail-inner .box-droplist .sort-droplist .droplist-button {
	padding-right: 2.0000vw;
	font-weight: bold;
	font-size: 1.4545vw;
	color: #000;
	border: 0;
	text-align: right;
}

.top-opt-detail-area .opt-detail-inner .box-droplist .sort-droplist .droplist-button:before {
	right: 0;
}

.top-opt-detail-area .opt-detail-inner .box-droplist .sort-droplist .droplist li {
	white-space: nowrap;
}

.pf-color-sel.slideOn .option-slick {
	margin: 0 2.364vw;
}
/* Commnity */
.gc_community_new { display:none; }