#wrap {
    display: flex;
    min-height: 100vh;
    .HCAU-sidebar {
        background: #00aad2;
        flex: 0 0 64px;
    }
    .HCAU-menubar {
        flex: 1 1 0;
        // background: #ddd;
        .menu {
            float: right;
            width: 305px;
            min-height: 100vh;
            padding-left: 20px;
            // background: red;
        }
    }
    .HCAU-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 700px;
        .HCAU-contents {
            width: 975px;
            border-left: 1px solid #e5e5e5;
            flex: 1 0 auto;
            padding-left: 65px;
            padding-top: 38px;
            padding-bottom: 100px;
        }
        .HCAU-footer {
            background: #323232;
            color: #999;
            .footer-inner{
                width: 975px;
                height: 80px;
                padding-left: 65px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .copyright{
                    font-size: 12px;
                }
                .sns{
                    display: flex;
                    gap: 16px;
                }
            }

        }
    }
}
