/*datepicker-bs5*/
.datepicker {width: -moz-min-content;width: min-content;}.datepicker:not(.active) {display: none;}.datepicker-dropdown {position: absolute;z-index: 1000;padding-top: 4px;}.datepicker-dropdown.datepicker-orient-top {padding-top: 0;padding-bottom: 4px;}.datepicker-picker {display: flex;flex-direction: column;border-radius: 0.375rem;background-color: #fff;}.datepicker-dropdown .datepicker-picker {box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);}.datepicker-main {flex: auto;padding: 2px;}.datepicker-footer {box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);background-color: #f8f9fa;}.datepicker-title {box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);background-color: #f8f9fa;padding: 0.375rem 0.75rem;text-align: center;font-weight: 700;}.datepicker-controls {display: flex;}.datepicker-header .datepicker-controls {padding: 2px 2px 0;}.datepicker-controls .btn {border-color: #f8f9fa;background-color: #fff;}.datepicker-controls .btn:hover {border-color: #dbe0e5;background-color: #e2e6ea;color: #000;}.datepicker-controls .btn:focus {border-color: #dbe0e5;box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);background-color: #e2e6ea;color: #000;}.datepicker-controls .btn:disabled {border-color: #f8f9fa;background-color: #f8f9fa;color: #000;}.datepicker-controls .btn:not(:disabled):active {border-color: #d4dae0;background-color: #dbe0e5;color: #000;}.datepicker-controls .btn:not(:disabled):active:focus {box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);}.datepicker-header .datepicker-controls .btn {border-color: transparent;font-weight: bold;}.datepicker-footer .datepicker-controls .btn {flex: auto;margin: calc(0.375rem - 1px) 0.375rem;border-radius: 0.25rem;font-size: 0.875rem;}.datepicker-controls .view-switch {flex: auto;}.datepicker-controls .prev-button, .datepicker-controls .next-button {padding-right: 0.375rem;padding-left: 0.375rem;flex: 0 0 14.2857142857%;}.datepicker-controls .prev-button.disabled, .datepicker-controls .next-button.disabled {visibility: hidden;}.datepicker-view, .datepicker-grid {display: flex;}.datepicker-view {align-items: stretch;width: 15.75rem;}.datepicker-grid {flex-wrap: wrap;flex: auto;}.datepicker .days {display: flex;flex-direction: column;flex: auto;}.datepicker .days-of-week {display: flex;}.datepicker .week-numbers {display: flex;flex-direction: column;flex: 0 0 9.6774193548%;}.datepicker .weeks {display: flex;flex-direction: column;align-items: stretch;flex: auto;}.datepicker span {display: flex;align-items: center;justify-content: center;border-radius: 0.375rem;cursor: default;-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;user-select: none;}.datepicker .dow {height: 1.5rem;font-size: 0.9375rem;font-weight: 700;}.datepicker .week {flex: auto;color: #dee2e6;font-size: 0.875rem;}.datepicker-cell, .datepicker .days .dow {flex-basis: 14.2857142857%;}.datepicker-cell {height: 2.25rem;}.datepicker-cell:not(.day) {flex-basis: 25%;height: 4.5rem;}.datepicker-cell:not(.disabled):hover {background-color: #f9f9f9;cursor: pointer;}.datepicker-cell.focused:not(.selected) {background-color: #e2e6ea;}.datepicker-cell.selected, .datepicker-cell.selected:hover {background-color: #0d6efd;color: #fff;font-weight: 600;}.datepicker-cell.disabled {color: rgba(33, 37, 41, 0.5);}.datepicker-cell.prev:not(.disabled), .datepicker-cell.next:not(.disabled) {display: none;}.datepicker-cell.prev.selected, .datepicker-cell.next.selected {color: #e6e6e6;}.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {border-radius: 0;background-color: #f8f9fa;}.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {background-color: #f1f3f5;}.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {background-color: #e2e6ea;}.datepicker-cell.today:not(.selected) {background-color: #20c997;}.datepicker-cell.today:not(.selected):not(.disabled) {color: #fff;}.datepicker-cell.today.focused:not(.selected) {background-color: #1fc493;}.datepicker-cell.range-end:not(.selected), .datepicker-cell.range-start:not(.selected) {background-color: #6c757d;color: #fff;}.datepicker-cell.range-end.focused:not(.selected), .datepicker-cell.range-start.focused:not(.selected) {background-color: #69727a;}.datepicker-cell.range-start:not(.range-end) {border-radius: 0.375rem 0 0 0.375rem;}.datepicker-cell.range-end:not(.range-start) {border-radius: 0 0.375rem 0.375rem 0;}.datepicker-cell.range {border-radius: 0;background-color: #e9ecef;}.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {background-color: #e2e6ea;}.datepicker-cell.range.disabled {color: #ced4db;}.datepicker-cell.range.focused {background-color: #dbe0e5;}.datepicker-input.in-edit {border-color: #73acfe;}.datepicker-input.in-edit:focus, .datepicker-input.in-edit:active {box-shadow: 0 0 0.25em 0.25em rgba(115, 172, 254, 0.2);}main .section {padding: 3rem 1.5rem;}aside {position: fixed;top: 0;bottom: 0;right: -300px;width: 300px;overflow: auto;background-color: #fff;box-shadow: inset 1px 1px rgba(0, 0, 0, 10%);transition: right 0.3s;}.open aside {right: 0;}aside hr {margin-top: 0.5rem;}.code-wrap {position: relative;}.code-wrap pre {background-color: whitesmoke;padding: 1.25rem 1.5rem;max-height: 320px;overflow-y: auto;}.code-wrap pre:not(.is-active) {height: 0;overflow: hidden;opacity: 0.5;}.code-wrap .collapse-button {position: absolute;top: 0;right: 0;left: auto;background-color: #f6f6f6cc;cursor: pointer;padding: 0.125rem 0.25rem;font-size: 0.75rem;}.code-wrap pre:not(.is-active) + .collapse-button {background-color: transparent;}.code-wrap pre code.hljs {display: initial;overflow: initial;background: initial;padding: initial;}.option-type-selector {margin-top: -0.5rem;}.option-type-selector > label:first-of-type {margin: 0 0.25rem;}.is-hidden {display: none;}.toggle-button {position: fixed;top: 0.75rem;right: 0.75rem;width: 1.5rem;background-color: #fff;line-height: 1.5rem;border: 1px solid rgba(0, 0, 0, 10%);border-radius: 2px;box-shadow: 1px 1px rgba(0, 0, 0, 10%);cursor: pointer;}.toggle-button::before {content: '\25c0';padding-left: 0.25rem;}.open .toggle-button::before {content: '\25b6';}@media (min-width: 481px) {main {margin-right: 38.1966%;}aside {right: 0;width: 38.1966%;}.toggle-button {display: none;}}@media (min-width: 992px) {.code-wrap pre {max-height: calc(39vw - 7.5rem);}}
/*HCAU-calendar*/
.calendar{position: relative;}
.calendar .form-control:not(:disabled){padding-right: 50px;}
.calendar span button,.calendar span img{position: absolute;  right: 16px;  top: 50%;  outline: none;  border: none;  background: none;  margin: -12px 0 0 0;  padding: 0;}
.calendar .form-control:disabled{padding-right:0;opacity: .5;}
.datepicker-cell.prev,.datepicker-cell.next{opacity: 0.5;background: #eee;}
.datepicker-cell.prev:hover,.datepicker-cell.next:hover{background: #eee;cursor: default;}
.datepicker-main{padding:20px}
.datepicker span{border-radius:2rem}
.datepicker-cell.focused:not(.selected),.datepicker-cell.selected, .datepicker-cell.selected:hover{background-color: #5d7d2b;color:#fff;}
.datepicker-view.months.datepicker-grid,.datepicker-view.years.datepicker-grid{border-bottom:1px solid #e5e5e5;border-right:1px solid #e5e5e5}
.datepicker-cell.month,.datepicker-cell.year{border-top:1px solid #e5e5e5;border-left:1px solid #e5e5e5;border-radius:0;font-weight:bold;font-size:14px}
.datepicker-cell:not(.day){  flex-basis:50%;height:36px}
.datepicker-cell.day,.datepicker .dow{min-height: 24px;  height: 2rem;  flex-basis: 2rem;  margin: 0.1rem;border-radius: 50% !important;border:1px solid #e5e5e5}
.datepicker .days-of-week .dow{margin:0.1rem ;max-width:32px}
.datepicker .days .dow:nth-child(1),.datepicker .days .dow:nth-child(2),.datepicker .days .dow:nth-child(3),.datepicker .days .dow:nth-child(4),  .datepicker .days .dow:nth-child(5){background-color: #444;color:#fff}
.datepicker .days .dow:nth-child(6){background-color: #1760B6;color:#fff}
.datepicker .days .dow:nth-child(7){background-color: #C31818;color:#fff}
.form-control.date.datepicker-input:focus {    border-color: #5d7d2b !important;    outline: 1px solid #5d7d2b !important;    box-shadow:0 0 0 0} 
@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
@font-face {
  font-display: swap;
  font-family: Kia Signature Fix;
  font-style: normal;
  font-weight: 400;
  src: url(/static/html/m/kia/font/KiaSignatureFixRegular.ttf) format("truetype"),url(/static/html/m/kia/font/KiaSignatureFixRegular.woff) format("woff"),url(/static/html/m/kia/font/KiaSignatureFixRegular.woff2) format("woff2")
  ,url(/static/html/m/kia/font/KiaSignatureFixRegular.eot#iefix) format('embedded-opentype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@font-face {
  font-display: swap;
  font-family: Kia Signature Fix;
  font-style: normal;
  font-weight: 700;
  src: url(/static/html/m/kia/font/KiaSignatureFixBold.ttf) format("truetype"),url(/static/html/m/kia/font/KiaSignatureFixBold.woff) format("woff")
  ,url(/static/html/m/kia/font/KiaSignatureFixBold.otf) format("ttf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  html {
    position: relative;
  }
  html,
  body {
    position: relative;
    padding: 0;
    margin: 0;
    line-height: 1.25;
    width: 100%;
  }
  body {
    font-family: "Kia Signature Fix",
      "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo",
      "굴림", arial, sans-serif;
    color: #05141f;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
  }
  body,
  div,
  section,
  dl,
  ul,
  ol,
  li,
  dt,
  dd,
  blockquote,
  p
   {
    font-family: "Kia Signature Fix";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .HCAU-h1,
  .HCAU-h2 {
    line-height: 1;
    margin: 0;
    font-weight: 700;
    font-family: "Kia Signature Fix";
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  li {
    list-style: none;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  textarea {
    resize: vertical;
  }
  pre,
  xmp,
  plaintext,
  listing,
  samp,
  kbd,
  code,
  figure,
  figcaption {
    margin: 0;
  }
  iframe {
    border: none;
  }
  iframe[src*="insight.adsrvr.org/tags"] {
    display: none;
  }
  img {
    vertical-align: top;
  }
  strong,
  b {
    font-family: "Kia Signature Fix";
    font-weight: 700;
  }
  pre {
    white-space: pre-wrap;
  }
  ::-webkit-input-placeholder {
    color: #999;
  }
  ::-moz-placeholder {
    color: #999;
  }
  :-ms-input-placeholder {
    color: #999;
  }
  :-moz-placeholder {
    color: #999;
  }
  table {
    width: 100%;
  }
  caption {
    left: -10000px;
    top: auto;
    height: 0;
    overflow: hidden;
  }
  button:focus,
  a:focus,
  a:active,
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  select::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: blue;
    box-shadow: 0 0 3px 0px blue;
    position: relative;
  }
  select:-moz-focusring {
    color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 3px 0 blue;
  }
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  [hidden],
  template {
    display: none;
  }
  a {
    background-color: rgba(0, 0, 0, 0);
    color: #05141f;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  abbr[title] {
    border-bottom: 1px dotted;
  }
  b,
  strong {
    font-weight: 700;
  }
  dfn {
    font-style: italic;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  mark {
    background: #ff0;
    color: #05141f;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 60%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: 0;
  }
  img {
    border: 0;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  figure {
    margin: 1em 40px;
  }
  hr {
    box-sizing: content-box;
    height: 0;
  }
  pre {
    overflow: auto;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  button {
    overflow: visible;
    outline:none;
    border:none;
    background: none;
    margin: 0;
    padding: 0;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input {
    line-height: normal;
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  legend {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
  }
  optgroup {
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td,
  th {
    padding: 0;
  }

  .wrap{
    display: flex;
    flex-direction: column;
    min-height:100%;
  }
  .HCAU-container{
    flex: 1 1 auto;
    padding-top: 48px;
  }